<div class="tab tab-explore">
    <section id="home">
        <div id="home-picture" class="null" style="background-image: url('img/finderGif.gif');">
        </div>
        <div id="home-profil">
            <span class="target_user-info"></span>
        </div>
        <a class="btn-cta-hush">
            <img src="img/hu.svg"/>
        </a>
        <h1 id="home-title">
            TOUS LES HUSHERS AUTOUR DE VOUS
        </h1>
    </section>
    <div class="users-displayed">
        <div class="no-one">
            <p>Aucun Husher est autour de vous, pendant que l'application continue de chercher, invitez vos amis !
                :)</p>
            <form>
                <input id="sendedEmail" type="email" placeholder="Le mail de votre amis !" required>
                <input id="sendEmail" type="submit" value="Envoyer">
            </form>
            <div class="confirmation">Un mail d'invitation a été envoyé à votre ami !</div>
        </div>
    </div>
    <div id="overlay-send">
        <a id="overlay-close">
            <img src="img/pictos/close.svg" width="20" height="auto"/>
        </a>
        <div id="overlay-profil">
            <figure>
            </figure>
            <h1>INTERACTIONS</h1>
            <h2>avec <span id="overlay-profil-name"></span></h2>
        </div>
        <a class="btn-cta-hush-overlay">
            <img src="img/hu.svg"/>
        </a>
        <div class="emojis">
            <a id="emoji-1" title="emoji-smoke">
                <figure class="emoji-smoke">
                    <img src="img/pictos/smoke.svg"/>
                    <span>Fumer une clope</span>
                </figure>
            </a>
            <a id="emoji-2" title="emoji-dance">
                <figure class="emoji-dance">
                    <img src="img/pictos/dance.svg"/>
                    <span>Danser</span>
                </figure>
            </a>
            <a id="emoji-3" title="emoji-drink">
                <figure class="emoji-drink">
                    <img src="img/pictos/drink.svg"/>
                    <span>Prendre un verre</span>
                </figure>
            </a>
        </div>
    </div>
    <div id="overlay-notifs">
        <div class="notifs-content">
            <div id="notifs-emojis">
                <figure class="emoji-send" id="emojiDrink">
                    <img src="img/pictos/drink.svg" alt="Emoji Send !" width="auto" height="120"/>
                </figure>
                <figure class="emoji-send" id="emojiSmoke">
                    <img src="img/pictos/smoke.svg" alt="Emoji Send !" width="auto" height="120">
                </figure>
                <figure class="emoji-send" id="emojiDance">
                    <img src="img/pictos/dance.svg" alt="Emoji Send !" width="auto" height="120">
                </figure>
                <figure class="emoji-check">
                    <img src="img/pictos/check.svg" width="auto" height="25">
                </figure>
            </div>
            <p id="notif-send">Votre demande a été envoyée à <span id="profil-name-send"></span></p>
        </div>
    </div>
    <div class="toMuchHush">
        <div class="wrapper-overlay-mushHush">
            <div class="overlay-muchHush">
                <p>Votre hush est en attente.</p>
            </div>
        </div>
    </div>
    <div class="toMuchHush2">
        <div class="wrapper-overlay-mushHush">
            <div class="overlay-muchHush">
                <p>Votre Hush a été bloqué. Réessayez d'ici 10min.</p>
            </div>
        </div>
    </div>
</div>
<div class="target-notification"></div>
<div class="target-friends"></div>
<div class="tab tab-notifications">
    <div class="notifsPending">
    </div>
    <hr>
    <div class="notifsPassed">
    </div>
</div>
<div class="tab tab-friends">
    <div class="toMuchHush">
        <div class="wrapper-overlay-mushHush">
            <div class="overlay-muchHush">
                <p>Votre hush est en attente.</p>
            </div>
        </div>
    </div>
    <div class="hush-your-friend">
        <p>Ajouter un Husher en ami</p>
        <hr>
    </div>
    <div class="friendsPending">
    </div>
    <div class="hush-your-friend">
        <p>Vos Amis</p>
        <hr>
    </div>
    <div class="friendPassed">
    </div>
    <div class="profil-pop-in">
        <div class="profilManager">
            <div class="profilPictGuest">
            </div>
            <div class="profilContent">
                <div id="firstNameGuest"></div>
                <div id="lastNameGuest"></div>
                <div id="ageGuest"></div>
            </div>
        </div>
        <section class="profilDescription">
            <h1>Description</h1>
            <div id="descriptionGuest"></div>
            <hr>
        </section>
        <section class="profilStatus">
            <h1>Son Statut</h1>
            <div class="relationStatusGuest"></div>
        </section>
        <div class="quit"></div>
        <div class="add">Ajouter en amis</div>
        <div class="remove">Supprimer de mes contacts</div>
    </div>
</div>
<div class="tab tab-profil">
    <div class="edit-img">
        <div id="result" class="result"><p>This demo works only in browsers with support for the <a
                href="https://developer.mozilla.org/en/DOM/window.URL">URL</a> or <a
                href="https://developer.mozilla.org/en/DOM/FileReader">FileReader</a> API.</p></div>
    </div>
    <p id="actions" style="display:none;">
        <button type="button" id="edit">Recadrer</button>
        <button type="button" id="crop">Valider</button>
        <button type="button" id="done">Modifier la photo de profil</button>
        <button type="button" id="cancel">Annuler</button>
    </p>
    <div class="editPen"></div>
    <div class="submitCheck"></div>
    <form>
        <div class="profilManager">
            <input id="file-input" type="file" style="display: none">
            <div class="profilPict">
                <label id="profil-pict" for="file-input"></label>
            </div>
            <div class="profilContent">
                <input id="firstName" type="text">
                <input id="lastName" type="text">
                <input id="age" type="number" min="18" max="99" step="1">
            </div>
        </div>
        <div class="overflow">
            <section class="profilDescription">
                <h1>Description</h1>
                <textarea id="description" placeholder="Décrivez-vous !"></textarea>
                <hr>
            </section>
            <section class="profilStatus">
                <h1 class="statusHeart" >Mon Statut</h1>
                <select id="selectArrow">
                    <div class="selectStyle"></div>
                    <option value="En couple">En couple</option>
                    <option value="Célibataire">Célibataire</option>
                    <option value="Relation libre">Relation libre</option>
                </select>
                <div class="wrapperCheckbox">
                    <div class="contentCheckbox">
                        <input type="checkbox" value="None" id="slideThree" name="check"/>
                        <label for="slideThree"></label>
                    </div>
                </div>
                <hr>
            </section>
            <section class="profilDeco">
                <a class="deco" href="/app">Déconnexion</a>
            </section>
        </div>
    </form>
    <div class="overlayProfil">
        <div class="overlayProfilContent">
            <div class="overlayProfilElements">
            </div>
        </div>
    </div>
</div>
<script src="js/explore.js"></script>
<script src="js/geolocManager.js"></script>
<script src="js/notificationManager.js"></script>
<script src="js/load-image.all.min.js"></script>
<script src="js/jquery.Jcrop.js"></script>
<script src="js/editProfil.js"></script>
<script src="js/friendsAndGroupsManager.js"></script>