<!-- Wrapper -->
<div>
    <!-- Carousel -->
    <div class="jcarousel">
        <ul>
            <li>
                <div class="tuto1">
                    <div class="tuto1 tutoView">
                        <div class="tuto1-picture">
                            <img src="img/logo.png" alt="Hush App">
                        </div>
                        <div class="tuto-content">
                            <h1>
                                RETROUVE TES POTES
                            </h1>
                            <p>
                                Donnez rendez-vous à vos amis au sein de la boîte
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li id="start">
                <div class="tuto2">
                    <div class="tuto2-picture">
                    </div>
                    <div class="tuto-content">
                        <h1>
                            Communique
                        </h1>
                        <p>
                            Envoie tes émojis et tes messages prédéfinis grâce à des micros-interactions
                        </p>
                    </div>
                </div>
            </li>
            <li id="startwo">
                <div class="tuto3">
                    <div class="tuto3-picture">
                    </div>
                    <div class="tuto-content">
                        <h1>
                            Tente ta chance
                        </h1>
                        <p>
                            Découvre les personnes célibataires de ce soir et fais le premier pas
                        </p>
                    </div>
                </div>
            </li>
            <li id="end">
                <header>
                    <h1>
                        <img src="img/logo.png"/>
                        <br>
                        CONNECTE-TOI AVEC LES GENS QUI T'ENTOURENT
                    </h1>
                </header>

                <section id="login">
                    <div class="login">
                        <div class="btn-cta login-fb fb">
                        </div>
                    </div>
                    <div id="mentionsLogin">
                        <div class="mentionsPub">
                            <img src="img/pictos/warning.svg" width="10" height="10"/>
                             <p>
                                Nous ne publierons rien sur Facebook.
                            </p>
                        </div>
                        <p>En vous inscrivant, vous acceptez nos Conditions Générales d'Utilisation et notre Politique
                            de Confidentialité. </p>
                    </div>
                </section>
            </li>
        </ul>
    </div>

    <!-- Controls -->
    <div class="jcarousel-control">
        <a class="jcarousel-control-next" href="#">Suivant</a>
        <a id="pass" class="jcarousel-control-prev" href="#">Passer</a>
        <div class="jcarousel-pagination">
            <!-- Pagination items will be generated in here -->
        </div>
    </div>
</div>
<!-- LOADING PAGE -->
<div id="loader" style="display: none; z-index: 100000000000000000">
    <div id="loader-content">
        <h1>
            <img src="img/loading.gif" alt="HushApp"/>
        </h1>
    </div>
</div>
<!-- LOADING PAGE -->
<script src="js/jquery.jcarousel.min.js"></script>
<script src="js/jquery.touchwipe.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/profilManager.js"></script>