<ul>
    <li>
        <div class="menu-item active" id="item-explore">
            <div class="menuPicto pictoExplore"></div>
            Explore
        </div>
    </li>
    <li>
        <div class="menu-item" id="item-notifications">
            <div class="menuPicto pictoNotifs"></div>
            Notifications
        </div>
    </li>
    <li>
        <div class="menu-item" id="item-friends">
            <div class="menuPicto pictoFriends"></div>
            Amis
        </div>
    </li>
    <li>
        <div class="menu-item" id="item-profil">
            <div class="menuPicto pictoProfil"></div>
            Profil
        </div>
    </li>
</ul>
<script src="js/menu.js"></script>
