/*** DASHBOARD ***/
.tab-notifications, .tab-friends, .tab-profil {
    display: none;
    height: 100%;
}

.tab-explore, .tab-friends, .tab-notifications, .tab-profil {
    height: calc(100% - 66.3px);
    position: relative;
}

/* GENERICS FONTS */
@font-face {
    font-family: "Helvetica";
    src: url("../font/HelveticaNeueLTPro-Bd.otf");
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../font/BebasNeueBold.otf");
}

@font-face {
    font-family: "Grotesk";
    src: url('../font/HKGrotesk-Regular.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}

:root {
    /* vars for templating */

    /*** COLORS ***/
    --color-main: #c5034d;
    --color-btn: #97033f;
    --color-bloc: #ff0058;
    --color-white: #ffffff;
    --color-text: #640026;
    --color-p: #BFBFBF;
    --color-notif: #888888;

    /*** FONT ***/
    --main-font: "Bebas Neue", sans-serif;
    --second-font: "Helvetica", sans-serif;
    --third-font: "Grotesk", sans-serif;

    /*** TRANSITION ***/
    --tr: all .5s ease;

    /*** FACEBOOK ***/
    --btn-fb-darkblue: #1e10c8;
    --btn-fb-lightblue: #2751d9;
    --btn-fb-logo: #fefefe;
    /*** BTN ***/
}

/** SCROLLBAR **/
body::-webkit-scrollbar {
    width: 8px;
}

body.thin::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100, 100, 100, 0.4);
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.app-container {
    width: 100%;
    height: 100%;
}

.betaTest {
    font-family: var(--second-font);
    font-size: .7em;
    text-align: center;
    padding: 1em;
    background-color: var(--color-white);
    position: absolute;
    top: -8%;
}

#listBeta {
    color: var(--color-text);
}

hr.separator {
    width: 100%;
    height: 1px;
    background-color: var(--color-p);
    border: none;
}

/* ------------------- LOADER --------------- */

#loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: wait;
    text-align: center;
    background: var(--color-bloc);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

#loader h1 img {
    width: 100px;
    height: auto;
}

/*** STYLE BOUTONS ***/
.btn-cta {
    width: 200px;
    height: 55px;
    color: var(--color-white);
    font-family: var(--main-font);
    font-size: 1.5em;
    align-items: center;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    line-height: 55px;
}

.pink {
    background-color: var(--color-bloc);
}

.black {
    background-color: #000;
}

.login-fb {
    background-color: var(--btn-fb-darkblue);
    margin-top: 0;
}

.login-fb:before {
    background-color: var(--btn-fb-lightblue);
    background-image: url(../img/pictos/fb.svg);
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    content: "";
    color: #fff;
    font-family: var(--main-font);
    width: 65px;
    height: 55px;
    left: 0;
}

.login-fb:after {
    content: "FACEBOOK";
    position: absolute;
    right: 15%;
}

.btn-cta .fb {
    color: var(--btn-fb-darkblue);
}

/*** TUTO ***/
.tuto1 {
    min-width: 100%;
    min-height: 440px;
    overflow: hidden;
    position: relative;
}

.tutoHeader {
    position: relative;
}

.tuto1, .tuto2, .tuto3 {
    width: 100%;
    display: block;
    top: 0;
}

.tuto1-picture, .tuto2-picture, .tuto3-picture {
    min-width: 100%;
    min-height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    z-index: 0;
    max-height: 75vh;
}

.tuto1-picture {
    background: url(../img/bg-header.png) no-repeat center center / cover;
}

.tuto2-picture {
    background: url(../img/bg-tuto2.jpg) no-repeat center center / cover;
}

.tuto3-picture {
    background: url(../img/bg-tuto3.jpg) no-repeat center center / cover;
}

.tuto1-picture:after, .tuto2-picture:after, .tuto3-picture:after {
    content: "";
    position: absolute;
    width: 110%;
    height: 27%;
    border-radius: 50%;
    box-shadow: 0px 30px 0px 20px #fff;
    bottom: 5%;
    left: -3%;
    z-index: 0;
}

.tuto1-picture img, .tuto2-picture img, .tuto3-picture img {
    height: auto;
    margin-bottom: 1em;
}

.tuto-content h1, .tuto2-picture h1, .tuto3-picture h1 {
    font-size: 3em;
    margin: .5em auto;
    text-align: center;
}

.tuto-content p {
    text-align: center;
    color: var(--color-notif);
    font-family: var(--second-font);
    font-size: .8em;
    margin-left: 2em;
    margin-right: 2em;
    line-height: 1.2;
}

.tuto-content {
    width: 100%;
    z-index: 90;
}

.tuto-dot {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: .8em auto;
}

#tutoDotUn, #tutoDotDeux, #tutoDotTrois {
    width: 15px;
    height: 15px;
    background-color: var(--color-p);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.tuto-next {
    color: var(--color-bloc) !important;
}

.tutoFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.tutoFooter nav {
    height: 5vh;
    width: 90%;
    margin: 0 auto;
    font-family: var(--second-font);
}

.tutoFooter nav ul {
    display: flex;
    justify-content: space-between;
}

.tutoView {
    display: block;
}

#end {
    z-index: 90;
    background-color: var(--color-white);
    height: 100vh !important;
    overflow: scroll;
}

/*** EVOL ***/
.locked {
    background-color: var(--color-bloc);
    color: var(--color-white);
    font-family: var(--main-font);
    font-size: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.locked img {
    margin-bottom: 1em;
    animation: locked 1s ease infinite;
}

@keyframes locked {
    0% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/*** GENERICS - BODY ***/
body {
    font-family: var(--main-font);
    width: 100%;
    height: 100%;
}

/*** GENERICS - MENU ***/
.menu {
    display: none;
}

#menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--color-white);
    justify-content: center;
    align-items: center;
    z-index: 100;
    box-shadow: -.01em -.01em .2em var(--color-bloc);
}

#menu ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#menu ul li {
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#menu ul li div {
    text-decoration: none;
    color: var(--color-p);
    font-family: var(--second-font);
    font-size: .8em;
    transition: var(--tr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    position: relative;
}

#menu ul li:hover {
    color: var(--color-bloc);
}

#menu ul li:active {
    color: var(--color-bloc);
}

#menu ul li:focus {
    color: var(--color-bloc);
}

/** ITEMS MENU **/
.menuPicto{
    background-size: cover;
    height: 20px;
    width: 20px;
}
.pictoExplore{
    background-image: url(../img/menu/explore.png);
}
.pictoNotifs{
    background-image: url(../img/menu/notifs.png);
}
.pictoFriends{
    background-image: url(../img/menu/friends.png);
}
.pictoProfil{
    background-image: url(../img/menu/profil.png);
}
.menu-item.active{
    color: var(--color-bloc) !important;
}
.menu-item.active .pictoExplore{
    background-image: url(../img/menu/explore_pink.png);
}
.menu-item.active .pictoNotifs{
    background-image: url(../img/menu/notifs_pink.png);
}
.menu-item.active .pictoFriends{
    background-image: url(../img/menu/friends_pink.png);
}
.menu-item.active .pictoProfil{
    background-image: url(../img/menu/profil_pink.png);
}

/*** CONNEXION ***/

header {
    min-width: 100%;
    min-height: 50vh;
    background: url(../img/bg-header.png) no-repeat center center / cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
}

header:before {
    content: "";
    position: absolute;
    width: 110%;
    height: 27%;
    border-radius: 50%;
    box-shadow: 0 65px 0px 50px white;
    bottom: 3%;
    left: -3%;
}

header h1 {
    width: 60%;
    margin: 0 auto;
    color: var(--color-white);
    font-size: 3em;
    text-align: center;
}

header h1 img {
    width: 100px;
    height: auto;
    margin-bottom: 1em;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    header {
        height: 40vh;
    }

    header h1 {
        width: 100%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    header {
        height: 50vh;
    }
}

/** FOR DEV DEBUG **/
.ok_form, .close {
    color: white;
    background: black;
    position: absolute;
    z-index: 1000000000000000;
    top: 15%;
    left: 5%;
}

#sendedEmail {
    max-width: 485px;
    width: 44%;
    height: 31px;
    background-color: var(--color-white);
    box-shadow: 0em 0.6em 2em 0.2em rgba(255, 0, 88, .15);
    border: none;
    color: var(--color-bloc);
    font-family: var(--third-font);
    font-size: .9em;
    transition: var(--tr);
    border-radius: 3px;
    padding: 0 1.2em;
}

#sendEmail {
    width: 77px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    margin-left: .5em;
    border: none;
    background-color: #000;
    font-family: var(--main-font);
    color: var(--color-white);
    font-size: 0.9em;
    border-radius: 3px;
    cursor: pointer;
    transition: var(--tr);
}

.confirmation {
    position: absolute;
    width: 89% !important;
    left: 0;
    height: 100px !important;
    line-height: 100px !important;
    top: 50%;
    margin: 20px;
    background: var(--color-bloc);
    color: white;
    border-radius: 10px;
}

.no-one {
    height: auto;
    text-align: center;
    font-size: 17px;
}

.no-one p {
    color: var(--color-notif);
    font-family: var(--third-font);
    font-size: 0.9em;
    margin-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.target-notification, .target-friends {
    width: 100%;
    position: absolute;
    top: 0;
}

.close {
    margin-top: 30px;
}

#login {
    color: var(--color-p);
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#mentionsLogin {
    width: 100%;
    display: flex;
    flex-direction: column;
    bottom: 15px;
    margin-top: 50px;
}

#mentionsLogin:before {
    width: 10px;
    height: 10px;
    float: left;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

#mentionsLogin p {
    font-family: var(--second-font);
    line-height: 1.5;
    margin: 0 auto;
}

#mentionsLogin p:first-child {
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: .9em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#mentionsLogin p:last-child {
    font-weight: lighter;
    font-size: 0.8em;
    padding: 1em;
    background: white;
}

.mentionsPub{
    text-align: center;
    margin: 0 auto;
}
.mentionsPub img{
    display: inline-block !important;
}
.mentionsPub p{
    display: inline-block;
}
#connexionDashboard {
    background-color: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*** PROFIL ***/
.profil {
    background-color: var(--color-bloc);
    height: 230px;
    margin: 0 auto;
    position: relative;
}

#picture-profil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 auto;
}

#profil-header {
    text-align: center;
    color: var(--color-white);
    margin-top: 1em;
}

#profil-header span {
    margin-left: .1em;
    margin-right: .5em
}

#profil-header span:last-child {
    margin-right: 0;
    margin-left: 0;
}

#profil-header span:after {
    content: "|";
    position: absolute;
    color: var(--color-white);
    opacity: .5;
    padding: 0;
}

#profil-header span:last-child:after {
    display: none;
}

.profil-emojis span {
    position: relative;
    width: 12px;
    height: 20px;
}

.profil-emojis span:before {
    position: absolute;
    top: 0;
    left: 0;
}

.profil-emojis .perso1:before {
    position: absolute;
}

/*** EXPLORE ***/
#home {
    width: 100%;
}

#home-picture {
    background-size: cover;
    width: 100%;
    height: 250px;
    background-position: center center;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

#home-picture:before {
    content: "";
    position: absolute;
    width: 110%;
    height: 27%;
    border-radius: 50%;
    box-shadow: 0 65px 0px 65px white;
    bottom: 3%;
    left: -3%;
    z-index: 0;
}

#home-title {
    font-size: 2em;
    color: var(--color-bloc);
    text-align: center;
    margin-bottom: .5em;
}

#home-profil {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--color-white);
    position: relative;
    font-size: 1.5em;
    line-height: 0;
    margin-top: -3em;
}

#home-profil span {
    text-shadow: 0.1em 0.1em 1em #6f6f6f;
}

#home-profil span:after {
    content: "|";
    margin-left: .2em;
    margin-right: .2em;
    color: var(--color-white);
    opacity: .5;
}

#home-profil span:last-child:after {
    display: none;
}

.btn-cta-hush {
    width: 90px;
    height: 90px;
    background-color: var(--color-bloc);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    position: relative;
    cursor: pointer;
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
}

.btn-cta-hush:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}

.btn-cta-hush:before {
    animation: inner-ripple 3s ease infinite;
    position: absolute;
    background: var(--color-text);
    width: 60px;
    height: 60px;
    content: "";
    display: block;
    border-radius: 50%;
    z-index: -1;
}

.btn-cta-hush:after {
    animation: outer-ripple 3s ease infinite;
    position: absolute;
    background: var(--color-text);
    width: 70px;
    height: 70px;
    content: "";
    display: block;
    border-radius: 50%;
    z-index: -1;
}

.btn-cta-hush.clicked {
    position: fixed;
    left: 42%;
    transition: var(--tr);
}

.btn-cta-hush img {
    width: 44px;
    height: auto;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 25%;
}

.btn-cta-hush-overlay {
    width: 90px;
    height: 90px;
    background-color: var(--color-bloc);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    position: relative;
    cursor: pointer;
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
}

.btn-cta-hush-overlay:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}

.btn-cta-hush-overlay:before {
    animation: pulse 5s ease infinite;
    position: absolute;
    background: var(--color-text);
    width: 60px;
    height: 60px;
    content: "";
    display: block;
    border-radius: 50%;
    z-index: -1;
}

.btn-cta-hush-overlay:after {
    animation: pulse 3s ease infinite;
    position: absolute;
    background: var(--color-text);
    width: 70px;
    height: 70px;
    content: "";
    display: block;
    border-radius: 50%;
    z-index: -1;
}

.btn-cta-hush-overlay.clicked {
    position: fixed;
    left: 42%;
    transition: var(--tr);
}

.btn-cta-hush-overlay img {
    width: 44px;
    height: auto;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 25%;
}

/** KEYFRAME BTN CTA HUSH **/
@keyframes outer-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    80% {
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

@-webkit-keyframes outer-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    80% {
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

@-moz-keyframes outer-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    80% {
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

/* inner ripple */

@keyframes inner-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    30% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    100% {
        transform: scale(2.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

@-webkit-keyframes inner-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    30% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    100% {
        transform: scale(2.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

@-moz-keyframes inner-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    30% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    100% {
        transform: scale(2.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

/** KEYFRAME PULSE **/
@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 1;
        transform-origin: center;
    }
    100% {
        transform: scale(3);
        opacity: 0;
        transform-origin: center;
    }
}

/*** OVERLAY SEND EMOJI ***/
#overlay-send {
    background-color: rgba(0, 0, 0, .80);
    z-index: 90;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

/*** OVERLAY NOTIF EMOJI SEND ***/
#overlay-notifs {
    background-color: rgba(0, 0, 0, .80);
    z-index: 110;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    overflow: hidden;
}

.notifs-content {
    position: absolute;
    width: 100%;
    transform: translate(-50%);
    left: 50%;
    top: 25%;
}

#notifs-emojis {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.emoji-send, .emoji-check {
    position: relative;
}

/** KEYFRAME **/
.emoji-send:after {
    position: absolute;
    content: "";
    height: 125px;
    width: 125px;
    background-color: var(--color-white);
    border-radius: 50%;
    bottom: -40px;
    z-index: -1;
    left: -2px;
}

.emoji-send img {
    transform: scale(0);
    animation: item-send 1s forwards cubic-bezier(0.68, -0.55, 0.11, 1.58)
}

.emoji-check {
    right: -90%;
    opacity: 0;
    animation: item-checked 1s forwards cubic-bezier(0.68, -0.55, 0.11, 1.58)
}

/** KEYFRAME CHECKED **/
@keyframes item-checked {
    0% {
        right: -90%;
        opacity: 0;
    }
    75% {
        right: -50%;
        opacity: .8
    }
    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes item-send {
    0% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.emoji-check:after {
    position: absolute;
    content: "";
    height: 65px;
    width: 65px;
    background-color: var(--color-bloc);
    border-radius: 50%;
    z-index: -1;
    left: -25px;
    top: 5px;
}

.emoji-check img {
    position: absolute;
    top: 25px;
    left: -10px;
}

#notif-send {
    font-size: 1em;
    color: var(--color-white);
    font-family: var(--second-font);
    width: 40%;
    text-align: center;
    line-height: 1.5;
    margin: 0 auto;
}

#notif-send span {
    color: var(--color-bloc);
}

#overlay-close {
    margin: 2em;
    cursor: pointer;
    transition: var(--tr);
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

#overlay-close object {
    cursor: pointer;
}

#overlay-close:hover {
    margin: 2em;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#overlay-profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -3em;
}

#overlay-profil figure {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#overlay-profil img {
    object-fit: cover;
    width: 95px;
    height: 95px;
}

#overlay-profil h1 {
    color: var(--color-white);
    font-size: 2em;
    text-align: center;
    margin-top: -.5em;
}

#overlay-profil h2 {
    color: var(--color-bloc);
    font-size: 1.5em;
    text-align: center;
}

/** OVERLAY EMOJIS STYLE **/
.emojis {
    z-index: -10;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 27%;
}

.emojis figure {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emojis figure:after {
    position: absolute;
    content: "";
    background-color: var(--color-white);
    width: 55px;
    height: 55px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 15px;
    z-index: -1;
}

.emojis img {
    width: auto;
    height: 60px;
    transition: var(--tr);
    margin-bottom: .8em;
}

.emojis span {
    color: var(--color-white);
    text-align: center;
}

.emojis img:hover {
    transform: scale(1.1);
}

#emoji-1, #emoji-2, #emoji-3 {
    position: absolute;
    left: 45%;
    opacity: 0;
    transition: var(--tr);
}

#emoji-2.emoji-anim {
    animation: emojiShowDance .7s cubic-bezier(.75, -0.5, 0, 1.75) forwards;
    transition: var(--tr);
}

#emoji-1.emoji-anim {
    animation: emojiShowSmoke .7s cubic-bezier(.75, -0.5, 0, 1.75) forwards;
    transition: var(--tr);
}

#emoji-3.emoji-anim {
    animation: emojiShowDrink .7s cubic-bezier(.75, -0.5, 0, 1.75) forwards;
    transition: var(--tr);
}

.emoji-send {
    display: none;
}

/** KEYFRAME **/
@keyframes emojiShowDance {
    0% {
        opacity: 0;
        left: 45%;
        bottom: 40%;
    }
    100% {
        opacity: 1;
        bottom: -90%;
    }
}

@keyframes emojiShowSmoke {
    0% {
        opacity: 0;
        left: 45%;
        bottom: 40%;
    }
    100% {
        opacity: 1;
        left: 80%;
        bottom: -50%
    }
}

@keyframes emojiShowDrink {
    0% {
        opacity: 0;
        left: 45%;
        bottom: 40%
    }
    100% {
        opacity: 1;
        left: 10%;
        bottom: -50%;
    }
}

/*** OVERLAY GUEST ***/
.overlay-guest {
    background-color: rgba(0, 0, 0, .80);
    z-index: 90;
    position: fixed;
    width: 100%;
    height: 90vh;
    top: 0;
    left: 0;
    display: block;
}

.overlay-guest-content {
    height: 330px;
    width: 290px;
    border-radius: 20px;
    background-color: var(--color-white);
    position: absolute;
    z-index: -1;
    top: 15%;
    transform: translate(-50%);
    left: 50%;
    margin: 0 auto;
    animation: displayNone .5s cubic-bezier(.25, 0, .75, 2) forwards alternate;
}

@keyframes displayNone {
    0% {
        transform: translate(-50%) scale(0);
    }
    100% {
        transform: translate(-50%) scale(1);
    }
}

.overlay-guest-content:before {
    position: absolute;
    content: "";
    background-color: var(--color-bloc);
    top: 0;
    height: 200px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.overlay-guest-content .overlay-guest-contentEmoji {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100px;
    height: auto;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%);
}

.overlay-guest-content .overlay-guest-contentEmoji:after {
    position: absolute;
    content: "";
    background-color: var(--color-white);
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 20px;
    z-index: -1;
    box-shadow: 0.1em 0.7em 2em 0.1em #cc0a3f;
}

.optionsGuest {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: 5%;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.guest-title {
    z-index: 10;
    position: relative;
    margin-bottom: 2em;
}

.content-guest-title {
    color: var(--color-white);
    font-family: var(--main-font);
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
}

.overlay-guest-content p:last-child {
    font-size: 1em;
    font-family: var(--main-font);
    text-align: center;
    color: var(--color-white);
}

.picture-profil-guest {
    background-color: var(--color-text);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    z-index: 10;
    background-size: cover;
    margin: 0 auto;
    box-shadow: 0.1em 0.1em 2em 0.1em rgba(99, 5, 5, 0.82);
    position: absolute;
    transform: translate(-50%);
    top: -40px;
    left: 50%;
}

.picture-profil-guest:after {
    display: none;
}

.btn-cta-pink, .btn-cta-black {
    width: 125px;
    height: 50px;
    font-family: var(--main-font);
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1em auto;
    position: relative;
}

.btn-cta-pink {
    background-color: var(--color-bloc);
}

.btn-cta-pink:before {
    content: "";
    background: url(../img/pictos/check.svg) no-repeat center center;
    height: 15px;
    width: 15px;
    opacity: .5;
    position: absolute;
    transform: translate(-50%);
    top: 35%;
    left: 22px;
}

.btn-cta-black {
    background-color: #000;
}

.btn-cta-black:before {
    content: "";
    background: url(../img/pictos/close.svg) no-repeat center center;
    height: 15px;
    width: 15px;
    opacity: .5;
    position: absolute;
    transform: translate(-50%);
    top: 35%;
    left: 22px;
}

.btn-cta-close {
    position: absolute;
    bottom: 3%;
    transform: translate(-50%);
    left: 42%;
}

.btn-cta-close:after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: var(--color-notif);
    border-radius: 50%;
    left: -50%;
    z-index: -1;
}

.btn-cta-close img {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 15px;
    height: 15px;
}

/*** NOTIF REQUEST ***/
.overlay-guest-no, .overlay-guest-yes {
    position: absolute;
    top: -20%;
    background: var(--color-white);
    box-shadow: -0.01em -0.01em 0.2em #c2c2c2;
    width: 100%;
    font-family: var(--second-font);
    display: none;
    justify-content: space-between;
    line-height: 1.5;
    z-index: 100;
    align-items: center;
    height: 100px;
    transition: var(--tr);
}

.overlay-guest-no .request-no {
    color: var(--color-text);
}

.overlay-guest-yes .request-yes {
    color: var(--color-bloc);
}

.overlay-profil-guest {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-size: cover;
}

.overlay-guest-pictureEmoji {
    position: absolute;
    width: 90px;
    margin-left: 1em;
    top: 10px;
    transform: translate(-50%);
    left: 50px;
}

.emoji-send-guest {
    width: 40px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    bottom: -10%;
    right: 0;
    z-index: 1;
}

.emoji-send-guest img {
    width: 40px;
    height: auto;
}

.overlay-guest-title {
    font-size: .9em;
    margin-right: 1em;
    float: right;
    position: absolute;
    right: 0;
    top: 25%;
}

/** OVERLAY TO MUCH HUSH **/
.toMuchHush {
    background-color: rgba(0, 0, 0, .80);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 110;
}
.toMuchHush2 {
    background-color: rgba(0, 0, 0, .80);
    z-index: 110;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.wrapper-overlay-mushHush {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-muchHush {
    display: block;
    background: var(--color-bloc);
    color: var(--color-white);
    font-size: 1.5em;
    font-family: var(--main-font);
    padding: 2em;
    margin: 2em;
    text-align: center;
    border-radius: 10px;
    animation: moreHushed .3s ease forwards;
    top: 50%;
    transform: translate(50%);
}

/** KEYFRAMES MOREHUSHED **/
@keyframes moreHushed {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

/*** NOTIFICATIONS VIEW ***/

.notif-ping {
    position: absolute !important;
    top: -5px;
    background: var(--color-bloc);
    border-radius: 100%;
    color: #FFF !important;
    right: 18px;
    width: 18px;
    height: 18px;
    z-index: 20;
}
.notif-ping:after{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: var(--color-bloc);
    border-radius: 50%;
    z-index: -1;
    animation: inner-ripple 5s ease infinite;
    top: 2px;
    transform: translate(-50%);
    right: 2px;
}


@keyframes notifPushed {
    0% {
    scale(0);
    }
    50% {
    scale(1.1);
    }
    100% {
    scale(1);
    }

}

.notifsPending {
    width: 100%;
    height: 40%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.notifsPassed {
    width: 100%;
    height: 55%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.notifications-content {
    width: 100%;
    min-height: 85px;
    position: relative;
    z-index: 80;
    margin-bottom: .5em;
}

.notifications-content:first-child {
    margin-top: 1em;
}

.notifications-content figure {
    background-position: center center !important;
    background-size: cover !important;
    height: 75px;
    width: 75px;
    float: left;
    margin-left: 1em;
    border-radius: 50%
}

.notifications-name {
    float: left;
    font-size: 1.2em;
    height: 100%;
    line-height: 50px;
}

.notifications-action {
    font-size: .8em;
    font-family: var(--second-font);
    color: var(--color-notif);
    width: 100%;
    clear: both;
}

.notifications-timeline {
    color: #BFBFBF;
    font-size: .7em;
    font-family: var(--second-font);
}

.notifications-content-informations {
    float: left;
    margin-left: 1em;
    line-height: 1.5;
    height: 100%;
}

.notifications-content img {
    position: absolute;
    right: 5%;
    top: 25%;
    transform: translate(50%)
}

.tab-notifications hr {
    border: none;
    height: 1px;
    background-color: var(--color-p);
    width: 95%;
    margin-bottom: 1em;
    display: block;
    margin-top: 1em;
}

.toggleNotifications {
    width: 100%;
    clear: both;
    display: block;
    z-index: 90;
}

.toggleNotifications-content {
    display: flex;
}

.toggleNotifications-content a {
    animation: moreHushed .5s ease-in-out forwards;
    margin-left: .5em;
    margin-right: .5em;
}

.triget_profilPict {
    width: 60px;
    height: 60px;
    background-size: cover !important;
}

/*** PROFIL VIEW ***/
.navView {
    position: fixed;
    top: 2%;
    left: 2%;
    width: 95%;
    margin: 0 auto;
}

.btn-back {
    float: left;
}

.btn-setting {
    float: right;
}

.profilManager {
    width: 100%;
    height: 220px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    background-color: var(--color-bloc);
    flex-direction: column;
    margin-bottom: 2em;
}

.profilManager #profil-pict {
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat!important;
    width: 125px;
    height: 125px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 1em;
    display: block;
    position: relative;
}
.profilPict{
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-bottom: 2em;
    transition: var(--tr);
}
.profilPict.active:after{
    content: "";
    position: absolute;
    height: 40%;
    width: 40%;
    background: url(../img/pictos/editPicto.png) no-repeat center center / 55% auto, #FFF;
    left: 65%;
    bottom: 0%;
    border-radius: 50%;
    display: block;
    box-shadow: 0.5em 0.5em 1em #d2064d;
    animation: editPicture .5s forwards cubic-bezier(.20,.60,1,1.30);
}

@keyframes editPicture {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.profilPict:after{
    content: "";
    position: absolute;
    height: 40%;
    width: 40%;
    background: url(../img/pictos/editPicto.png) no-repeat center center / 55% auto, #FFF;
    left: 65%;
    bottom: 0%;
    border-radius: 50%;
    box-shadow: 0.5em 0.5em 1em #d2064d;
    transform: scale(0);
    animation: editPictureReverse .5s forwards cubic-bezier(.20,.60,1,1);
}
@keyframes editPictureReverse {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}
.profilDescription.active #description{
    animation: flashActive .8s ease;
}
@keyframes flashActive {
    0%{
        background-color: var(--color-white);
    }
    50%{
        background-color: var(--color-p);
    }
    100%{
        background-color: var(--color-white);
    }
}
.profilContent.active input{
    border-bottom: 2px solid rgba(255,255,255,.5);
    transition: var(--tr);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--color-p);
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--color-p);
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--color-p);
}
:-moz-placeholder { /* Firefox 18- */
    color: var(--color-p);
}
textarea:-moz-placeholder, textarea::-webkit-input-placeholder{
    color: var(--color-p);
}
/** PROFIL INPUT **/
.profilContent {
    display: flex;
    transition: var(--tr);
    color: var(--color-white);
    width: 95%;
    justify-content: center;
}

.profilContent input {
    color: var(--color-white);
    border: none;
    background: transparent;
    font-family: var(--main-font);
    font-size: 1.2em;
    display: block;
    position: relative;
    margin-left: .2em;
    border: 2px solid transparent;
    width: 100px;
    text-align: center;
}

.profilContent input:after {
    position: absolute;
    content: "|";
    margin-left: .2em;
    margin-right: .2em;
    color: var(--color-white);
    opacity: .5;
}

.profilContent input:last-child:after {
    display: none;
}

#description {
    width: 100%;
    min-height: 10vh;
    color: var(--color-notif);
    font-family: var(--second-font);
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-size: 1em;
}

.profilStatus select {
    min-width: 130px;
    margin: 0 auto;
    font-size: 1.5em;
    color: var(--color-bloc);
    height: 43px;
    -webkit-appearance: none;
    background: url(../img/pictos/arrowWhite.png) no-repeat center right / 8% auto;
    font-family: var(--second-font);
    transition: var(--tr);
    border: 1px solid transparent;
}
.profilStatus.active #selectArrow{
    position: relative;
    width: 130px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    color: #000;
    outline: none;
    font-size: 1em;
    margin: 0 auto;
    cursor: pointer;
    height: 40px;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--color-bloc);
    font-family: var(--second-font);
    background: url(../img/pictos/arrowStatus.png) no-repeat center right / 8% auto;
    transition: var(--tr);
}

.profilStatus select option {
    background: var(--color-bloc);
    color: var(--color-white);
}

.wrapperCheckbox {
    position: absolute;
    top: -15%;
    right: 5%;
}

.profilStatus.active .contentCheckbox{
    background: var(--color-bloc);
}
.profilStatus.active .contentCheckbox:after{
    color: var(--color-main);
}
.profilStatus.active .contentCheckbox:before{
    color: var(--color-text);
}
.profilStatus.active .contentCheckbox label{
    background: var(--color-text);
}
.contentCheckbox {
    width: 80px;
    height: 26px;
    background: var(--color-p);
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
}

.contentCheckbox:after {
    content: 'OFF';
    color: var(--color-notif);
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.contentCheckbox:before {
    content: 'ON';
    color: var(--color-notif);
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
}

.contentCheckbox label {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: -7px;
    z-index: 1;
    background: var(--color-notif);
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: var(--tr);
    left: 0;
}

.contentCheckbox input[type=checkbox] {
    visibility: hidden;
}

.contentCheckbox input[type=checkbox]:checked + label {
    left: 43px;
}

.editPen {
    position: absolute;
    top: 5%;
    right: 5%;
    background: url(../img/pictos/pen.png) no-repeat center center / cover;
    z-index: 3;
    height: 20px;
    width: 20px;
}
.submitCheck {
    position: absolute;
    top: 5%;
    right: 5%;
    background: url(../img/check-box.png) no-repeat center center / cover;
    z-index: 3;
    height: 20px;
    width: 20px;
    display: none;
}

.profilDescription {
    width: 95%;
    margin: 0 auto;
}

.profilDescription h1, .profilStatus h1 {
    font-size: 1.5em;
    position: relative;
    margin-bottom: .5em;
    margin-left: 1.5em;
    padding-left: .5em;
}

.profilDescription h1:before{
    position: absolute;
    content: "";
    height: 24px;
    width: 26px;
    left: -10%;
    padding: 1px;
}

.profilStatus h1:before{
    position: absolute;
    content: "";
    height: 22px;
    width: 26px;
    left: -10%;
    padding: 1px;
}

.profilDescription h1:before {
    background: url(../img/pictos/description.png) no-repeat left center / cover;
}

.profilDescription p {
    color: var(--color-notif);
    font-family: var(--second-font);
    font-size: .8em;
    line-height: 1.2;
}

.profilDescription hr, .profilStatus hr {
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-p);
    height: 1px;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.profilStatus {
    width: 95%;
    height: auto;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.profilStatus h1:before {
    background: url(../img/pictos/heart.png) no-repeat left center / cover;
}

p.profilStatusContent {
    font-family: var(--main-font);
    font-size: 1.5em;
    color: var(--color-bloc);
    text-align: center;
    border-radius: 24px;
    min-height: 50px;
    width: 170px;
    line-height: 50px;
}

.profilDeco {
    width: 100%;
    z-index: 3;
}

.profilDeco a {
    color: var(--color-notif);
    font-family: var(--second-font);
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    height: 40px;
    display: block;
    line-height: 40px;
    margin: 0 auto;
    width: 150px;
}

.profilEdit {
    background-color: var(--color-notif);
    height: 40px;
    width: 140px;
    line-height: 40px;
    float: right;
    text-align: center;
    position: relative;
    color: var(--color-white);
}

.profilEdit:before {
    position: absolute;
    content: "";
    left: 15%;
    top: 25%;
    width: 20px;
    height: 20px;
    background: url(../img/pictos/pen.png) no-repeat center center / cover;
    transform: translate(-50%);
}

/*** OVERLAY PROFIL GUEST ***/
.profil-pop-in{
    position: relative;
}
.quit{
    background: url(../img/pictos/arrow.svg)no-repeat;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 5%;
    top: 5%;
}
.add,.remove{
    background-color: var(--color-bloc);
    display: block;
    width: 150px;
    text-align: center;
    color: var(--color-white);
    font-family: var(--second-font);
    height: 45px;
    line-height: 45px;
    border-radius: 20px;
    position: relative;
    margin: 0 auto;
    padding-left: 2em;
    animation: editPicture .4s forwards cubic-bezier(.25, 0, .75, 2);
    margin-top: 1em;
}
.remove{
    padding-left: 0;
    width: 235px;
}
.wrapper-profil{
    width: calc(100% - 50px);
    position: relative;
    height: 100%;
}
.add:before{
    content: "";
    position: absolute;
    left: 13px;
    background: url(../img/pictos/close.svg)no-repeat;
    transform: rotate(135deg) translate(-50%);
    height: 16px;
    width: 16px;
    opacity: .5;
    top: 20px;
}
.profilPictGuest{
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat!important;
    width: 125px;
    height: 125px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 2em;
    display: block;
    position: relative;
}
.profilContent div{
    margin-left: .5em;
    margin-right: .5em;
    position: relative;
    font-size: 1.2em;
}
.profilContent div:after{
    content: "|";
    position: absolute;
    opacity: .5;
    color: var(--color-white);
    right: -15px;
}
.profilContent div:last-child:after{
    display:none;
}
.relationStatusGuest{
    min-width: 130px;
    margin: 0 auto;
    font-size: 1.5em;
    color: var(--color-bloc);
    height: 43px;
    font-family: var(--second-font);
}
#descriptionGuest{
    font-family: var(--second-font);
    font-size: 1em;
    color: var(--color-notif);
}

/*** OVERLAY EDIT PROFIl COMING SOON ***/
.overlayProfil {
    background-color: rgba(0, 0, 0, .85);
    color: var(--color-white);
    font-family: var(--main-font);
    font-size: 2em;
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.overlayProfilContent {
    height: 100%;
    width: 100%;
    position: relative;
}

.overlayProfilElements {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    color: var(--color-white);
    font-family: var(--main-font);
    width: 100%;
    text-align: center;
}

.overlayProfilElements img {
    margin-bottom: 1em;
    animation: locked 1s ease infinite;
}

@keyframes locked {
    0% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/********************* TEST ****************************/

.users-displayed {
    width: 100%;
    overflow-x: scroll;
    height: 80px;
    font-size: 0;
}

.users-displayed div {
    width: auto;
    height: 100%;
    display: inline-block;
}

.users-displayed div figure {
    width: auto;
    height: 100%;
}

.explorer-pict {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.explorer-pict img {
    width: auto;
    height: 100%;
    border-radius: 10px;
}

/********************* Slider ****************************/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel-wrapper {
    position: relative;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.jcarousel img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto !important;
}

.slide-read-next a {
    font-weight: 600;
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    margin-top: -15px;
    text-align: center;
    color: var(--color-bloc);
    text-decoration: none;
    transition: var(--tr);
    bottom: 3%;
}

#pass {
    position: absolute;
    top: 97%;
    margin-top: -15px;
    text-align: center;
    left: 16px;
    color: var(--color-p);
    text-decoration: none;
    transition: var(--tr);
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    background: var(--color-p);
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 15px;
    width: 15px;
    width: 15px;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 10px;
    margin-left: 10px;
}

.jcarousel-pagination a:last-child {
    display: none;
}

.jcarousel-pagination a.active {
    background: var(--color-bloc);
    color: #fff;
    opacity: 1;
}

.jcarousel-wrapper.responsive {
    display: none;
}

@media all and (min-width: 700px) {
    body {
        width: 375px;
        height: 667px;
        margin: 0 auto;
        background-color: var(--color-white);
        z-index: -1;
        position: relative;
        overflow: visible;
    }

    html {
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #loader {
        width: 375px;
        height: 667px;
        transform: translate(-50%);
        left: 50%;
        top: 0;
        position: absolute;
    }

    #end {
        height: 667px !important;
        overflow: hidden;
    }

    #menu {
        margin: 0 auto;
        width: 375px;
        position: absolute;
    }

    .btn-cta-hush {
        z-index: 1;
    }

    #overlay-send, #overlay-notifs, .overlay-guest {
        width: 376px;
        height: 667px;
        transform: translate(-50%);
        left: 50%;
        position: absolute;
    }

    .tuto1-picture:after, .tuto2-picture:after, .tuto3-picture:after {
        bottom: 0%;
    }

    .overlay-guest-content {
        top: 15%;
    }

    .overlay-guest-no, .overlay-guest-yes {
        width: 375px;
    }

    .notifs-content {
        top: 15%;
    }

}

.edit-img{
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 150%;
    background: rgba(0,0,0,0.8);
    display: none;
}
/*** OVERLAY IMG ***/
#actions{
    position: absolute;
    z-index: 10000;
    bottom: 0%;
    width: 81%;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
}
#actions button{
    border: none;
    font-family: var(--main-font);
    font-size: 1.2em;
    text-align: center;
    background: none;
    display: inline-block;
    text-transform: uppercase;
    outline: none;
    color: var(--color-bloc);
    border-right: 1px solid var(--color-bloc);
}
#actions button:nth-child(even){
    border-right: none;
}
canvas{
    margin-top:20px;
}
#result{
    text-align: center;
}
.jcrop-holder{
    margin: 20px auto;
}
.hush-your-friend{
    color: var(--color-bloc);
    line-height: 51px;
    font-size: 1.2em;
    height: 60px;
    clear: both;
}
.hush-your-friend p{
    margin-left: 1em;
}
.hush-your-friend hr{
    border: none;
    height: 1px;
    background-color: var(--color-p);
}
/*** VIEW FRIEND ***/
.overlayFriends {
    position: absolute;
    top: -20%;
    background: var(--color-white);
    box-shadow: -0.01em -0.01em 0.2em #c2c2c2;
    width: 100%;
    font-family: var(--second-font);
    text-align: center;
    display: none;
    line-height: 100px;
    color: var(--color-bloc);
    z-index: 100;
    height: 100px;
    transition: var(--tr);
}

.superActive{
    animation: friendsAdd 1s ease infinite, friendsColor 2s ease infinite alternate;
}
@keyframes friendsAdd {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);

    }
}
@keyframes friendsColor {
    0%{
        color: var(--color-p);
    }
    100%{
        color: var(--color-bloc);
    }

}
.viewProfil{
    position: absolute;
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: var(--color-bloc);
    bottom: 30%;
}
.viewProfil:after{
    content: "";
    height: 20px;
    width: 20px;
    background: url(../img/pictos/magnifying.png) no-repeat center center / cover;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 30%;
}
.friendsPending{
    height: 40%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}
.friendPassed{
    height: 35%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
}
.friendsContent{
    height: 50px;
    width: 100%;
    clear: both;
    position: relative;
    margin-bottom: .8em;
}
.friendsContent figure{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    float: left;
    margin-left: 1em;
}
.hushBtn{
    position: absolute;
    right: -85%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 50px;
    width: 95%;
    background-color: var(--color-bloc);
    bottom: 0;
}
.hushBtn:after{
    content: "";
    height: 20px;
    width: 20px;
    background: url(../img/hu.svg) no-repeat center center / cover;
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 22px;
    transform: translate(-50%);
}
.emojisList{
    display: inline-block;
    position: absolute;
    right: -80%;
    width: auto;
    bottom: 0;
    height: 60px;
    z-index: 1;
}
.emojisList li{
    height: 60px;
    width: 60px;
    display: inline-block;
    position: relative;
    margin-left: .8em;
}
.emojisList li:first-child{
    margin-left: 0;
}
.emojisList li:before{
    content: "";
    position: absolute;
    top: 10px;
    height: 45px;
    width: 45px;
    background-color: #fff;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%);
    left: 50%;
    box-shadow: 0.1em 0.1em 0.9em 0.1em #bb0946;
}
.animEmojiList li{
    animation: moreHushed .5s ease-in-out forwards;
}
.emojisList li img{
    width: 60px;
    height: 60px;
}
.add-user{
    height: 30%;
    width: 100%;
}

.user-info{
    width: 50%;
    vertical-align:top;
    display: inline-block;
    padding-left: 10px;
}

.user-pict{
    width: 80px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: 50% 50%!important;
    border-radius: 100%;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    float: left;
}
.user-name{
    font-size: 24px;
}
.user-name,.relationStatus{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.user-actions{
    display: inline-block;
    vertical-align: top;
}

.profil-pop-in{
    position: absolute;
    z-index: 1000000000000000000;
    background: white;
    top: 0;
    width: 100%;
    display: none;
    height: 100%;
}
.overflow{
    position: relative;
    height: calc(100% - 253px);
    overflow: auto;
}
.tab-profil form{
    position: relative;
    height: 100%;
}