/* Main stylesheet - Landing n°2 page */
/*************************************/

/* GENERICS FONTS */
@font-face {
    font-family: "Helvetica";
    src: url("../../font/HelveticaNeueLTPro-Bd.otf");
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../../font/BebasNeueBold.otf");
}

:root {
    /* vars for templating */
    --color-main: #c5034d;
    --color-btn: #97033f;
    --color-bloc: #ff0058;
    --color-white: #ffffff;
    --color-text: #640026;
    --main-font: "Bebas Neue", sans-serif;
    --second-font: "Helvetica", sans-serif;
    --tr: all .5s ease;
}

body, html {
    width: 100%;
    font-family: var(--main-font);
}

/* ------------------- LOADER --------------- */

#loader {
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: wait;
    text-align: center;
    background: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#loader-element {
    width: 40px;
    height: auto;
}

#loader h1 {
    margin-top: 2em;
}

#loader-logo {
    width: 80px;
    height: auto;
    -webkit-animation: logo .5s ease infinite;
    -o-animation: logo .5s ease infinite;
    animation: logo .5s ease infinite;
}

/* ----------------------- ANIMATION SCROLL SCALE -------------------- */
@keyframes logo {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* ------- SCROLLBAR ------ */

body::-webkit-scrollbar {
    width: 1em;
    padding-left: .2em;
}

body::-webkit-scrollbar-track {
    background-color: var(--color-text);
    box-shadow: 1em 1em 1em #000;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    outline: 1px solid slategrey;
}

/*** BACKGROUND ***/
html {
    background-color: #E5044C;
}

body {
    background: url(../img/bg-header.png) no-repeat top left / 50% auto, url(../img/bg-solutions.png) no-repeat 50% 51% / 100%;
    overflow-x: hidden;
}

/*** GENERICS ***/
header {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 30;
    transition: var(--tr);
}

.wrapper {
    max-width: 970px;
    margin: 0 auto;
}

/*** LOGO ***/
#logo {
    width: 100px;
    height: 50px;
}

/*** MENU ***/
.nav-background {
    background: var(--color-bloc);
    transition: var(--tr);
}

#menu ul {
    display: flex;
}

#menu li {
    margin-left: 5em;
}

#menu ul li a {
    position: relative;
    text-decoration: none;
    font-family: var(--second-font);
    color: var(--color-white);
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
    font-size: 1em;
}

#menu ul li a:hover {
    color: var(--color-main);
}

#menu ul li a:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -5;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%) skew(-89deg) scaleX(1.5);
    transform: translateX(-50%) skew(-89deg) scaleX(1.5);
    opacity: 0;
    background: var(--color-white);
    -webkit-transition: all 0.3s cubic-bezier(0.42, 0.08, 0, 1.8);
    transition: all 0.3s cubic-bezier(0.42, 0.08, 0, 1.8);
}

#menu ul li a:hover:after {
    width: 140%;
    -webkit-transform: translateX(-50%) skew(-20deg) scaleX(1);
    transform: translateX(-50%) skew(-20deg) scaleX(1);
    opacity: 1;
}

#menu ul li:last-child a:after {
    display: none;
}

/** MAIN SECTION **/

/** FB et GG CONNECT **/
.social-connect-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    z-index: 40;
    display: none;
    color: white;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.leave {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}

.social-connect {
    left: 30%;
    top: calc(50% - 200px);
    position: fixed;
    z-index: 100;
    width: 40%;
    height: 400px;
    background: #E5044C;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.connect-triger {
    cursor: pointer;
}

.co-container {
    position: relative;
}

.co {
    cursor: pointer;
    padding: 20px 10px;
    background: #97033f;
    color: white;
    width: 320px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto;
}

#bloc-video {
    padding-top: 5vh;
}

#bloc-connect {
    height: 500px;
    width: 700px;
    background: url(../img/img-form.png) no-repeat center center / cover;
    float: right;
    position: relative;
    z-index: 20;
    transition: var(--tr);
    margin-top: 20vh;
}

#bloc-connect:hover {
    transform: scale(1.1);
}

.bloc-titles {
    position: absolute;
    top: 10%;
    left: -50%;
}

.bloc-titles p {
    color: #fff;
    font-size: 1.5em;
    position: relative;
    font-family: var(--second-font);
    width: 100%;
    text-align: right;
    float: right;
    margin-top: 1em;
}

.bloc-titles p:before {
    content: "";
    height: 10px;
    width: 100%;
    position: absolute;
    background-color: var(--color-text);
    bottom: 0;
    z-index: -1;
    left: 0;
}

.bloc-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#bloc-connect h1, #bloc-connect h2 {
    text-align: right;
    color: #fff;
    font-family: var(--main-font);
    font-size: 4em;
}

.bloc-content {
    color: #fff;
    width: 50%;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.btn-cta {
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    position: relative;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 1em 1.2em;
    cursor: pointer;
    font-size: 1.5em;
}

.btn-cta:hover {
    color: var(--color-bloc);
    background-color: var(--color-white);
}

.btn-cta span {
    transform: rotate(180deg);
    vertical-align: middle;
    position: absolute;
    top: 40%;
    left: -8%;
    transition: var(--tr);
}

.btn-cta span img {
    width: 20px;
    height: auto;
    transform: rotate(180deg);
    vertical-align: middle;
    position: absolute;
    top: 30%;
    left: -8%;
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
}

.btn-cta:hover span img {
    left: -20%;
}

.btn-cta-form {
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    position: relative;
    width: 350px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
}

.btn-cta-form:hover {
    color: var(--color-bloc);
    background-color: var(--color-white);
}

.btn-cta-form span svg {
    position: absolute;
    top: 35%;
    left: -5%;
    width: 30px;
    height: auto;
    transform: rotate(180deg);
    vertical-align: middle;
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
}

.btn-cta-form:hover span svg {
    left: -15%;
}

.btn-cta-opinion {
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    padding: 1em .8em;
    text-decoration: none;
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

/*** TESTIMONIALS ***/
#testimonials {
    position: relative;
    z-index: 10;
    width: 600px;
    height: 450px;
    float: left;
    background: url(../img/ecoute.png) no-repeat center center / cover;
    margin-top: -10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
    margin-bottom: 5em;
}

#testimonials:hover {
    transform: scale(1.1);
    z-index: 20;
}

#testimonials-content {
    position: relative;
}

#testimonials-content:before, #testimonials-content:after {
    font-family: var(--main-font);
    color: #fff;
    font-size: 9em;
    z-index: -10;
}

#testimonials-content:before {
    position: absolute;
    content: '“';
    top: -5%;
    left: -5%;
}

#testimonials-content:after {
    position: absolute;
    content: "”";
    right: 0;
    bottom: -25%;
}

#testimonials-bloc {
    width: 200px;
    height: 100%;
    margin-left: 2em;
    text-align: left;
    position: absolute;
    top: 19%;
    left: 10%;
}

#testimonials h2 {
    color: #fff;
    font-size: 3em;
    width: 200px;
    margin-bottom: .5em;
}

#testimonials-content {
    display: flex;
    width: 600px;
}

.testimonial {
    position: relative;
    color: #fff;
    font-family: var(--second-font);
    font-size: .9em;
    margin-top: 2em;
    width: 500px;
    margin-right: 2em;
}

.testimonial:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 50px;
    background-color: #000;
    width: 100%;
    z-index: -1;
}

.testimonial .testimonial-text {
    padding: .8em;
}

.testimonial-name {
    position: relative;
    font-family: var(--main-font);
    display: table;
    margin-left: 1em;
}

.testimonial .testimonial-text {
    padding: .9em;
}

.testimonial-name:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 8px;
    width: 100%;
    background-color: var(--color-bloc);
    z-index: -1;
}

/*** SOLUTIONS ***/
#solutions {
    clear: both;
}

#solutions h2 {
    font-size: 3em;
    color: #fff;
    text-align: right;
    margin-bottom: 1em;
}

#solution-pictos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 2em;
    position: relative;
}

.picto {
    z-index: 20;
    position: absolute;
    top: -25px;
    left: 45%;
}

.picto-text {
    color: #fff !important;
}

.picto svg {
    width: 120px;
    height: auto;
}

.picto #engrenage {
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.picto p {
    font-family: var(--second-font);
    font-weight: 300;
    color: var(--color-text);
}

#bloc-user {
    margin: 0 auto;
    height: 360px;
    background: url(../img/radar.png) no-repeat center center / cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#bloc-user p {
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

#bloc-user img {
    position: absolute;
    bottom: -25%;
    right: 40%;
    text-align: center;
}

#application {
    height: 295px;
    width: 100%;
    clear: both;
    background: url(../img/fond-solution.png) no-repeat right 100% / 80% 65%;
    margin-top: 5em;
}

.column-left, .column-right {
    margin-top: 2em;
}

.column-left {
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-left img {
    width: 550px;
    height: auto;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: bounce 3s ease infinite;
    -o-animation: bounce 3s ease infinite;
    animation: bounce 3s ease infinite;
}

/* ----------------------- ANIMATION SCROLL BOUNCE ARROW -------------------- */

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.column-right {
    float: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    width: 50%;
    align-items: center;
}

.column-right h3 {
    font-size: 2em;
    font-family: var(--main-font);
    color: #fff;
    width: 100%;
    margin-bottom: .5em;
    margin-right: 5em;
}

.column-right ul {
    width: 100%;
    margin-right: 10em;
    color: var(--color-text);
    font-family: var(--second-font);
    margin-bottom: 2em;
    padding-bottom: 20px;
}

.column-right ul li {
    line-height: 1.5;
}

/*** OPINIONS ***/
#opinion h2 {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 3em;
    font-family: var(--main-font);
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    line-height: 1.5;
}

#opinion img {
    height: auto;
}

#btn-cta-app {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 8em;
}

.btn-cta span {
    transform: rotate(180deg);
    vertical-align: middle;
    position: absolute;
    top: 25%;
    left: -8%;
    transition: var(--tr);
}

.btn-cta:hover span {
    left: -20%;
}

.btn-cta span svg {
    width: 20px;
    height: auto;
}

#btn-cta-app .btn-cta {
    margin-right: 2em;
}

#btn-cta-app .btn-cta:last-child {
    margin-right: 0;
}

#btn-cta-app .btn-cta-refused {
    background-color: var(--color-text);
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 1em 1.2em;
    position: relative;
    width: auto;
    font-size: 1.5em;
}

#btn-cta-app .btn-cta-refused:hover {
    color: var(--color-white);
    background-color: var(--color-btn);
}

/*** FOOTER ***/
#landing2-footer {
    background: transparent;
    text-align: center;
    color: var(--color-white);
    text-decoration: none;
    clear: both;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--second-font);
    font-size: .8em;
    margin-bottom: 2em;
}

#landing2-footer ul li a img {
    width: 18px;
    height: auto;
    transition: var(--tr);
}

#landing2-footer ul li a img:hover {
    transform: scale(1.1);
}

#landing2-footer ul {
    display: flex;
    justify-content: space-around;
    width: 150px;
}

#landing2-footer a {
    color: #fff;
    text-decoration: none;
}

/*** OVERLAY ***/
#overlay-yes, #overlay-no {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(151, 3, 63, .85);
    z-index: 90;
    left: 0;
    justify-content: center;
    align-items: center;
}

.overlay-form {
    width: 400px;
    min-height: 350px;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    flex-direction: column;
    background-color: var(--color-main);
    z-index: 100;
}

.overlay-form-text {
    color: #fff;
    margin: 2em;
}

.overlay-form .btn-cta {
    font-family: var(--second-font);
}

.overlay-form form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.overlay-form input {
    -webkit-appearance: none /* this is required for Webkit browsers */;
    -moz-appearance: none /* this is not supported currently */;
    appearance: none;
    border: none;
    color: #fff;
    background-color: var(--color-btn);
    padding: .6em;
    margin-bottom: .5em;
    font-family: var(--second-font);
}

.overlay-transparent {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 90;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--color-white);
}

::-moz-placeholder { /* Firefox 19+ */
    color: var(--color-white);
}

:-ms-input-placeholder { /* IE 10+ */
    color: var(--color-white);
}

:-moz-placeholder { /* Firefox 18- */
    color: var(--color-white);
}

.overlay-form textarea {
    max-width: 100%;
    background-color: var(--color-btn);
    color: #fff;
    font-family: var(--second-font);
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    min-height: 5em;
}

.overlay-form textarea:placeholder {
    color: var(--color-white);
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
}

.select-style select {
    padding: 1em;
    width: 100%;
    border: none;
    box-shadow: none;
    background: var(--color-btn);
    background-image: none;
    -webkit-appearance: none;
    color: #fff !important;
}

.select-style select option {
    color: #fff;
}

.select-style select:focus {
    outline: none;
}
.chat-triger {
    position: fixed;
    right: 0;
    width: 360px;
    bottom: 0;
    padding: 20px;
    padding-bottom: 15px;
    background: var(--color-white);
    text-transform: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.chat-triger p{
    color: var(--color-bloc);
}
.chat-triger img{
    vertical-align: middle;
    transition: var(--tr);

}
.chat-triger:hover img{
    transform: scale(1.1);

}

/** RESPONSIVE DESIGN **/
@media screen and (max-width: 970px) {
    /** GENERICS **/
    body {
        background: url(../img/bg-header.png) no-repeat top left / 50% auto, url(../img/bg-solutions.png) no-repeat 50% 44% / 100% auto;
    }

    .wrapper {
        width: 80%;
    }

    .nav-background {
        height: 25vh;
    }
    .chat-triger{
        width: auto;
        justify-content: flex-end;
    }
    .chat-triger p{
        display: none;
    }
    header {
        justify-content: space-between;
    }

    #logo {
        position: fixed;
        top: 4%;
        left: 10%;
        width: 50px;
        height: auto;
    }

    #menu ul {
        display: block;
        text-align: right;
        margin-right: 2em;
    }

    #menu ul li:last-child {
        margin-top: 2em;
    }

    .btn-cta {
        font-size: 1em;
    }

    /*** BLOC CONNECT ***/
    .social-connect {
        width: 80%;
        position: relative;
        left: 0;
        margin: 0 auto;
    }

    #bloc-connect {
        width: 100%;
    }

    .bloc-titles {
        position: relative;
        top: 5%;
        left: -5%;
    }

    #bloc-connect h1, #bloc-connect h2 {
        text-align: right;
        color: #fff;
        font-family: var(--main-font);
        font-size: 4em;
    }

    .bloc-titles p {
        width: auto;
        margin-bottom: 2em;
        font-size: 1.2em;
    }

    .bloc-form {
        width: 100%;
        justify-content: flex-start;
        height: auto;
    }

    .bloc-content {
        width: 80%;
    }

    .btn-cta-form {
        width: 60%;
        height: auto;
        padding: 1em;
        font-size: 1.2em;
    }

    .btn-cta span {
        transform: rotate(180deg);
        vertical-align: middle;
        position: absolute;
        top: 25%;
        left: -3%;
        transition: var(--tr);
    }

    .column-left img {
        width: 100%;
    }

    /*** TESTIMONIALS ***/
    #testimonials {
        margin-top: 10%;
        width: 100%;
    }

    #testimonials-bloc {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        margin-left: 1em;
        margin-right: 1em;
    }

    #testimonials-content {
        width: 100%;
        display: block;
    }

    .testimonial {
        width: auto;
        text-align: left;
    }

    #testimonials h2 {
        margin-top: .5em;
    }

    /*** SOLUTIONS ***/
    #solutions {
        padding-top: 2em;
    }

    #solutions h2 {
        text-align: center;
    }

    .picto {
        position: relative;
        top: 0;
        left: 0;
    }

    #bloc-user img {
        bottom: -30%;
        right: 24%;
    }

    #application {
        width: 100%;
        background: url(../img/fond-solution.png) no-repeat right 0% / 100% 45%;
        height: auto;
        margin-top: 8em;
    }

    .column-left {
        float: none;
        width: 100%;
    }

    .column-right {
        float: none;
        width: 100%;
        margin-top: 0;
    }

    .column-right h3 {
        text-align: right;
        margin: .5em;
    }

    .column-right ul {
        margin-right: 0;
    }

    #opinion h2 {
        margin-bottom: 1em;
    }

    #btn-cta-app {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #btn-cta-app .btn-cta {
        margin: 0;
        width: 80%;
    }

    #btn-cta-app .btn-cta-refused {
        font-size: 1em;
        margin-top: 2em;
        width: 80%;
    }

    #opinion {
        width: 100%;
        margin-top: 3em;
    }

    #landing2-footer {
        display: block;
    }

    #landing2-footer ul {
        text-align: center;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 2em;
    }
}

/* CHAT ****************/

.fb-page {
    position: fixed !important;
    right: 0;
    bottom: 51px;
    z-index: 100;
    display: none;
}


