/* Main stylesheet - Landing n°1 page */
/*************************************/

/* GENERICS */
:root {
    /* vars for templating */
    --color-main : #63318a;
    --color-hover: #FF157C;
    --color-white: #ffffff;
    --color-second: #757575;
    --main-font: "Poppins", sans-serif;
    --tr: all .5s ease;
}
/* ------------------- LOADER --------------- */

#loader {
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: wait;
    text-align: center;
    background: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#loader-element{
    width: 40px;
    height: auto;
}
#loader h1{
    margin-top: 2em;
}
#loader-logo {
    width: 80px;
    height: auto;
    -webkit-animation:logo .5s ease infinite;
    -o-animation:logo .5s ease infinite;
    animation:logo .5s ease infinite;
}

/* ------- SCROLLBAR ------ */

body::-webkit-scrollbar {
    width: 1em;
    padding-left: .2em;
}

body::-webkit-scrollbar-track {
    background-color: var(--color-white);
    box-shadow: 1em 1em 1em #000;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-hover);
    outline: 1px solid slategrey;
}

body {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
}

header {
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

header ul {
    margin-left: 5em;
}

header li {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}
header ul li a{
    text-decoration: none;
    color: var(--color-main);
    transition: all .5s ease;
}
header ul li a:hover{
    color: var(--color-hover);
}

.connect-triger {
    background: var(--color-main);
    color: var(--color-white);
    padding: 20px 10px;
    border-radius: 5px;
    margin-right: 30px;
    max-width: 140px;
    text-align: center;
}

.section-1 {
    min-height: 500px;
    width: 100%;
    background: url('../img/bg-section-1.png') 50% 50% no-repeat;
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.inner-content {

    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 10px;
    height: auto;
}

.inner-content h2 {
    margin: 0;
    min-height: 45px;
    font-size: 40px;
    font-weight: bold;
}

.inner-content p {
    color: var(--color-white);
    font-size: 25px;
    margin: 20px 0px;
}

.section-2 {
    min-height: 400px;
    width: 100%;
    background: var(--color-white);
}

.section-2-top {
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
}

.section-2-top h2 {
    margin-top: 30px;
    font-size: 24px;
    margin-bottom: 1em;
}

.section-2-top p {
    margin: 0;
    color: #757575;
    font-size: 18px;
}

.section-2-bot {
    text-align: center;
    padding-top: 90px;
}

.blocks {
    text-align: center;
    display: inline-block;
    max-width: 340px;
    vertical-align: middle;
}

.svg-exec {
    margin-bottom: 15px;
}

.description-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.description {
    font-size: 15px;
    color: var(--color-second);
    margin-top: 10px;
    line-height: 1.5;
}

.section-3 {
    min-height: 315px;
    width: 100%;
    background: url('../img/bg-section-3.png') 50% 50% no-repeat,
    #000000;
    background-size: cover;
    text-align: center;
    margin-top: 20px;
}

.section-3 h2 {
    text-align: center;
    font-weight: bold;
    color: var(--color-white);
    font-size: 35px;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    background: #000000;
}

.stats {
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    font-size: 40px;
    line-height: 22px;
    padding-left: 75px;
    padding-right: 75px;
    margin-top: 88px;
}

.stats span {
    font-size: 12px;
    font-weight: 400;
}

.section-4 {
    min-height: 415px;
    width: 100%;
    text-align: center;
}

.left-part,.right-part{
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
}

.bulle-left{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background: url('../img/bulle-left.png') 50% 50% no-repeat;
    width: 380px;
    height: 266px;
    margin-top: 20px;
    margin-right: 30px;
}
.bulle-left p,.bulle-right p{
    margin: 0 auto;
    width: 330px;
    padding-top: 72px;
}
.bulle-legend{
    text-transform: uppercase;
    font-size: 25px;
    line-height: 17px;
    text-align: left;
    margin-top: 35px;
}
.right-part .bulle-legend{
    float: right;
}
.bulle-legend span{
    font-size: 15px;
    text-transform: none;
}
.bulle-right{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background: url('../img/bulle-right.png') 50% 50% no-repeat;
    width: 380px;
    height: 266px;
    margin-top: 50px;
}
.section-5 {
    min-height: 315px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
}

.section-5 h2 {
    padding-top: 2em;
    padding-bottom: 2em;
}

.section-5 .connect-triger {
    margin: 0 auto;
    padding: 10px 20px;
    font-weight: normal;
}

.section-6 {
    min-height: 300px;
    width: 100%;
    background: #000;
    text-align: center;
}

.section-6 h3 {
    color: var(--color-white);
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    font-size: 23px;
}

.copyright {
    color: var(--color-white);
    text-align: center;
    font-size: 12px;
    padding-top: 30px;
    line-height: 1.5;
}

.copyright a{
    color: var(--color-white);
    text-decoration: none;
    transition: all .5s ease;
}
.copyright a:hover{
    color: var(--color-hover);
}

.section-1, .section-2, .section-3, .section-4, .section-5, .section-6 {
    position: relative;
}
.social-connect-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top:0;
    z-index: 10;
    display: none;
    color: var(--color-white);
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}
.leave{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 99;
}
.social-connect{
    left: 30%;
    top: calc(50% - 200px);
    position: fixed;
    z-index: 100;
    width: 40%;
    height: 400px;
    background:var(--color-hover);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.connect-triger{
    cursor: pointer;
}
.co-container{
    position: relative;
}
.co{
    cursor: pointer;
    padding: 20px 10px;
    background:#97033f;
    color: white;
    width: 320px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto;
}
/************************************CAROUSEL********************************************/

.jcarousel-wrapper {
    position: relative;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    width: 200px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.jcarousel img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto !important;
}


.slide-read-next a {
    font-weight: 600;
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    color: var(--color-white);
    text-decoration: none;
    text-shadow: 0 0 1px #000;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: rgba(244, 238, 227, 0.5);
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 4px;
}
.jcarousel-pagination a.active {
    background: rgba(133, 102, 170, 0.5);
    color: #fff;
    opacity: 1;
}
/*** FOOTER ***/
footer ul li a img{
    width: 50px;
    height: auto;
    transition: all .5s ease;
}
footer ul li a img:hover{
    transform: scale(1.1);
}
footer ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
}
.social{
    display: inline-block;
    margin-top: 30px;
}
/* CHAT ****************/

.fb-page {
    position: fixed !important;
    right: 0;
    bottom: 51px;
    z-index: 100;
    display: none;
}

.chat-triger {
    position: fixed;
    right: 0;
    width: 360px;
    bottom: 0;
    padding: 20px;
    padding-bottom: 15px;
    background: var(--color-hover);
    text-transform: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-triger p{
    color: var(--color-white);
}
.chat-triger img{
    vertical-align: middle;
    transition: var(--tr);

}
.chat-triger:hover img{
    transform: scale(1.1);

}
/*** RESPONSIVE DESIGN ***/

@media screen and (max-width: 780px) {
    header{
        justify-content: center;
    }
    .inner-content {
        text-align: center;
    }

    .copyright {
        padding-bottom: 30px;
    }

    .connect-triger {
        margin: 0 auto;
    }
    .chat-triger{
        width: auto;
        justify-content: flex-end;
    }

    .section-2-top {
        padding: 20px;
    }

    .section-2-bot {
        padding-top: 30px;
    }

    .section-3 {
        background: url('../img/bg-section-3.png') 80% 80% no-repeat,
        #000000;
        padding-bottom: 20px;
    }
    .section-6 ul{
        justify-content: space-around;
        width: 80%;
    }
    footer ul li a img{
        width: 55%;
    }
    .social {
        padding: 1em;
    }

}

@media screen and (max-width: 500px) {
    .section-3 {
        background: url('../img/bg-section-3.png') 80% 110% no-repeat,
        #000000;
        padding-bottom: 20px;
    }
    .section-4{
        display: none;
    }
    .chat-triger{
        width: auto;
        justify-content: flex-end;
    }
    .chat-triger p{
        width: auto;
        padding: .8em;
        display: none;
    }
}