:root {
    /* vars for templating */
    --color-main : #c5034d;
    --color-btn: #97033f;
    --color-bloc: #ff0058;
    --color-white: #ffffff;
    --color-text: #640026;
    --main-font: "Bebas Neue", sans-serif;
    --second-font: "Helvetica", sans-serif;
    --tr: all .5s ease;
}
body, html{
    width:100%;
    height: 100%;
    background: var(--color-bloc);
}
/*** MENTIONS ***/
.mentions{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#mentions-credit, #mentions-proprietaire{
    color: var(--color-white);
    background-color: var(--color-bloc);
    font-family: var(--second-font);
    width: 80%;
}
#mentions-credit hr, #mentions-proprietaire hr{
    height: 5px;
    margin-bottom:.8em;
    background-color: #fff;
    border: none;
}
#mentions-credit a, #mentions-proprietaire a{
    text-decoration: none;
    color: #fff;
    transition: var(--tr);
}
#mentions-credit a:hover, #mentions-proprietaire a:hover {
    color: var(--color-text);
}
.mentions-title{
    font-size: 1.5em;
    margin-bottom: .8em;
    margin-top: .8em;
}
#mentions-credit p{
    line-height: 1.5;
}