/* Main stylesheet - Landing n°3 page */
/*************************************/

/* GENERICS FONTS */
@font-face {
    font-family: "Helvetica";
    src: url("../../font/HelveticaNeueLTPro-Bd.otf");
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../../font/BebasNeueBold.otf");
}

:root {
    /* vars for templating */
    --color-main: #c5034d;
    --color-btn: #97033f;
    --color-bloc: #ff0058;
    --color-white: #ffffff;
    --color-text: #640026;
    --main-font: "Bebas Neue", sans-serif;
    --second-font: "Helvetica", sans-serif;
    --tr: all .5s ease;
}

body, html {
    width: 100%;
    font-family: var(--main-font);
}

/* ------------------- LOADER --------------- */

#loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: wait;
    text-align: center;
    background: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#loader-element {
    width: 40px;
    height: auto;
}

#loader h1 {
    margin-top: 2em;
}

#loader-logo {
    width: 80px;
    height: auto;
    -webkit-animation: logo .5s ease infinite;
    -o-animation: logo .5s ease infinite;
    animation: logo .5s ease infinite;
}

/* ----------------------- ANIMATION SCROLL SCALE -------------------- */
@keyframes logo {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* ----------------------- ANIMATION SCROLL ARROW -------------------- */
@-webkit-keyframes scrollArrow {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-35px);
    }
    60% {
        -webkit-transform: translateY(-35px);
    }
}

@-moz-keyframes scrollArrow {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-35px);
    }
    60% {
        -moz-transform: translateY(-35px);
    }
}

@keyframes scrollArrow {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-35px);
        -moz-transform: translateY(-35px);
        -ms-transform: translateY(-35px);
        -o-transform: translateY(-35px);
        transform: translateY(-35px);
    }
    60% {
        -webkit-transform: translateY(-35px);
        -moz-transform: translateY(-35px);
        -ms-transform: translateY(-35px);
        -o-transform: translateY(-35px);
        transform: translateY(-35px);
    }
}

/* ------- SCROLLBAR ------ */

body::-webkit-scrollbar {
    width: 1em;
    padding-left: .2em;
}

body::-webkit-scrollbar-track {
    background-color: var(--color-text);
    box-shadow: 1em 1em 1em #000;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-white);
    outline: 1px solid slategrey;
}

/*** BACKGROUND ***/
html {
    background-color: var(--color-bloc);
}

body {
    width: 100%;
}

/*** GENERICS ***/
header {
    height: 9vh;
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 30;
    transition: var(--tr);
}

.header-wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header h1 {
    position: absolute;
    left: 20px;
}

.wrapper {
    max-width: 970px;
    margin: 0 auto;
}

/*** LOGO ***/
#logo {
    width: 80px;
    height: auto;
}

/*** MENU ***/
.nav-background {
    background: var(--color-bloc);
    transition: var(--tr);
}

#menu {
    margin: 0 auto;
    max-width: 530px;
}

#menu ul {
    display: flex;
}

#menu li {
    margin-left: 5em;
}

#menu li:last-child {
}

#menu li:first-child {
    margin-left: 0;
}

#menu ul li a {
    position: relative;
    text-decoration: none;
    font-family: var(--second-font);
    color: var(--color-white);
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
    font-size: 1em;
    border-bottom: 4px solid transparent;
}

#menu ul li a:hover {
    border-bottom: 4px solid #fff;
}
#menuCTA .btn-cta{
    border: 2px solid var(--color-white);
    background: transparent;
    color: var(--color-white);
}

/*#menu ul li a:after {*/
/*content: "";*/
/*display: block;*/
/*height: 100%;*/
/*width: 100%;*/
/*position: absolute;*/
/*z-index: -5;*/
/*left: 50%;*/
/*bottom: 0;*/
/*-webkit-transform: translateX(-50%) skew(-89deg) scaleX(1.5);*/
/*transform: translateX(-50%) skew(-89deg) scaleX(1.5);*/
/*opacity: 0;*/
/*background: var(--color-white);*/
/*-webkit-transition: all 0.3s cubic-bezier(0.42, 0.08, 0, 1.8);*/
/*transition: all 0.3s cubic-bezier(0.42, 0.08, 0, 1.8);*/
/*}*/

/*#menu ul li a:hover:after {*/
/*width: 140%;*/
/*-webkit-transform: translateX(-50%) skew(-20deg) scaleX(1);*/
/*transform: translateX(-50%) skew(-20deg) scaleX(1);*/
/*opacity: 1;*/
/*}*/

#menu ul li:last-child a {
}

#menu ul li:last-child a:hover {
}

#menu ul li:last-child a:after {
    display: none;
}

/** MENU BURGER RESPONSIVE **/
#burger-menu {
    display: none;
}

/** MAIN SECTION **/
/** FB et GG CONNECT **/
.social-connect-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    z-index: 40;
    display: none;
    color: white;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.leave {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}

.social-connect {
    left: 30%;
    top: calc(50% - 200px);
    position: fixed;
    z-index: 100;
    width: 40%;
    height: 400px;
    background: var(--color-white);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.connect-triger {
    cursor: pointer;
}

.co-container {
    position: relative;
}

.co {
    cursor: pointer;
    padding: 20px 10px;
    background: var(--color-text);
    color: var(--color-white);
    width: 320px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto;
    transition: var(--tr);
}

.co:hover {
    background: var(--color-bloc);
    color: var(--color-white)
}

/*** MAIN SECTION ***/
main {
    background: url(../../img/landing3/bg-header.png) no-repeat center center / cover;
    height: 90vh;
    width: 100%;
}

#bloc-video {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*** BLOC CONNECT : TITLE ***/
#bloc-connect .bloc-titles {

}

.bloc-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#bloc-connect {

}

#bloc-connect .bloc-titles h1 {
    text-align: center;
    color: #fff;
    font-family: var(--main-font);
    font-size: 5em;
    width: 80%;
    line-height: 1.2;
    margin: 0 auto;
}

#bloc-connect .bloc-titles hr {
    width: 10%;
    height: 5px;
    background-color: #000;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

#bloc-connect .bloc-titles p {
    font-family: var(--second-font);
    color: var(--color-white);
    width: 40%;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 5em;
}

/*** LOOK THE VIDEO ***/
.btn-cta-video {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    width: auto;
    justify-content: center;
    align-items: center;
    /*padding: .8em 1em;*/
    cursor: pointer;
    /*font-size: 1.5em !important;*/
    font-family: var(--main-font) !important;
    text-decoration: none;
    background-color: #000;
    border-radius: 3px;
    font-size: 1.8em !important;
    padding: 0.8em 1em .7em 1em;
}

.btn-cta-video:hover {
    color: var(--color-bloc);
    background-color: var(--color-white);
}

.btn-cta-video span {
    transform: rotate(180deg);
    vertical-align: middle;
    transition: var(--tr);
    /*margin-right: 1em;*/
    margin-right: 0.3em;
}

.btn-cta-video span img {
    width: 20px;
    height: auto;
    vertical-align: middle;
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
}

.btn-cta-video:hover span img {
    transform: scale(1.2);
    width: 25px;
}

.btn-cta {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 0.5em .8em 0.5em 0.8em;
    cursor: pointer;
    font-size: 1.5em !important;
    font-family: var(--main-font) !important;
    text-decoration: none;
    background-color: #000;
    border-radius: 3px;
}

.btn-cta:hover {
    color: var(--color-bloc);
    background-color: var(--color-white);
}

.btn-cta span {
    transform: rotate(180deg);
    vertical-align: middle;
    position: absolute;
    top: 20px;
    left: -45%;
    transition: var(--tr);
}

.btn-cta span img {
    width: 20px;
    height: auto;
    vertical-align: middle;
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
}

.btn-cta:hover span img {
    left: -20%;
}

.btn-cta-form {
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    position: relative;
    width: 350px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
}

.btn-cta-form:hover {
    color: var(--color-bloc);
    background-color: var(--color-white);
}

.btn-cta-form span svg {
    position: absolute;
    top: 35%;
    left: -5%;
    width: 30px;
    height: auto;
    transform: rotate(180deg);
    vertical-align: middle;
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
}

.btn-cta-form:hover span svg {
    left: -15%;
}

.btn-cta-opinion {
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    padding: 1em .8em;
    text-decoration: none;
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

#scrollArrow {
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 7%;
    left: 48%;
    -webkit-animation: scrollArrow 2s ease infinite;
    -o-animation: scrollArrow 2s ease infinite;
    animation: scrollArrow 2s ease infinite;
}

#scrollArrow img {
    width: 30px;
    height: auto;
    transform: rotate(90deg);
}

/*** TESTIMONIALS ***/
.bg-wrapper {
    background: #bb0045; /* Old browsers */
    background: -moz-linear-gradient(left, #bb0045 1%, #f1015a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #bb0045 1%, #f1015a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #bb0045 1%, #f1015a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb0045', endColorstr='#f1015a', GradientType=1); /* IE6-9 */
}

#testimonials {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
    position: relative;
}

#testimonials h3 {
    font-size: 4em;
    color: var(--color-white);
    text-align: center;
    width: 60%;
    padding-top: 1em;
    margin: 0 auto;
}

#testimonials-content {
    position: relative;
}

#testimonials h2 {
    color: #fff;
    font-size: 4em;
    width: 45%;
    margin-bottom: .5em;
}

#testimonials-content {
    display: flex;
    width: 600px;
}

.testimonials {
    position: relative;
    color: #fff;
    font-family: var(--second-font);
    font-size: .9em;
    margin: 2em auto;
    max-width: 600px;
    border: 2px solid #000;
    min-width: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-description {
    width: 80%;
    text-align: center;
    margin: 2em auto;
    font-size: 1.2em;
}

.testimonialName {
    color: #000;
}

.testimonial-name {
    position: relative;
    font-family: var(--main-font);
    display: table;
    margin: 1em auto;
    font-size: 1.2em;
}

.testimonial .testimonial-text {
    padding: .9em;
}

.testimonial-name:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 8px;
    width: 100%;
    background-color: var(--color-bloc);
    z-index: -1;
}

/*** SOLUTIONS ***/
#solutions {
    clear: both;
    background: url(../../img/landing3/bg-solutions.png) no-repeat left top;
}

#solutions h2 {
    font-size: 4em;
    color: #fff;
    text-align: center;
    width: 45%;
    margin: 0 auto;
    padding-top: 2em
}

#solutions-content {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

.bloc-content {
    width: 280px;
    height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0.1em 0.1em 0.5em #860632;
    transition: var(--tr);
}

.bloc-content img {
    width: 100px;
    height: 80px;
    margin-bottom: 1em;
}

.bloc-content .baseline-content {
    color: var(--color-bloc);
    font-size: 2em;
}

.bloc-content .description-content {
    text-align: center;
    color: var(--color-text);
    opacity: .5;
    padding: 1em;
    font-size: 1em;
    font-family: var(--second-font);
    line-height: 1.2;
}

/** ARTICLE : CHIFFRES **/
#chiffres {
    background-color: #fff;
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5em
}

#chiffres h3 {
    font-size: 4em;
    text-align: center;
    color: var(--color-text);
    padding-top: .5em;
}

#chiffres-content {
    display: flex;
    justify-content: space-around;
    align-content: center;
    min-height: 200px;
    align-items: center;
}

.chiffres-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
}

.chiffres-content .chiffres {
    color: var(--color-bloc);
    font-size: 4em;
}

.chiffres-content .chiffres-description {
    font-size: 1em;
    font-family: var(--second-font);
    color: var(--color-text);
    opacity: .5;
    padding: 1.2em;
}

/** TEAM **/
#team {
    position: relative;
    margin-bottom: 4em;
}

#team h3 {
    font-size: 4em;
    color: #fff;
    text-align: center;
    padding-top: 2em;
    margin-bottom: 1em;
}
#team-picture{
    background: url(../../img/team/team.jpg) no-repeat center center / cover;
    width: 100%;
    height: 500px;
    box-shadow: 0.1em 0.1em 0.5em #860632;
    position: relative;
}
#team-picture .btn-cta-team {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-text);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}
#team-picture .btn-cta-team:before{
    animation: pulse 5s ease infinite;
    position: absolute;
    background: var(--color-text);
    width: 20px;
    height: 20px;
    content: "";
    display: block;
    border-radius: 50%;
    z-index: -1;
}
.flo{
    position: absolute !important;
    top: 50%;
    left: 15%;
}
.bastien{
    position: absolute !important;
    top: 60%;
    left: 27%;
}
.rindra{
    position: absolute !important;
    top: 25%;
    right: 17%;
}
.chris{
    position: absolute !important;
    top: 78%;
    right: 20%;
}
.steven{
    position: absolute !important;
    top: 10%;
    left: 35%;
}
.guillaume{
    position: absolute !important;
    top: 10%;
    right: 35%;
}
.emilie{
    position: absolute !important;
    top: 25%;
    right: 53%;
}
.jj{
    position: absolute !important;
    bottom: 10%;
    right: 45%;
}
#team-picture .btn-cta-team img{
    width: 7px;
    height: 7px;
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 1;
        transform-origin: center;
    }
    100%{
        transform: scale(3);
        opacity: 0;
        transform-origin: center;
    }
}
.overlay-team{
    background-color: var(--color-white);
    padding: 1em;
    display: table;
}

/** Carousel **/

.team-content {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

.team-name {
    color: var(--color-text);
    font-size: 1.2em;
    margin-bottom: .8em;
}

.team-role {
    color: var(--color-white);
    font-size: .8em;
    opacity: .8;
}

.team-picture {
    width: 150px;
    height: 160px;
    border-radius: 50%;
    margin: 1em auto;
    transition: var(--tr);
}

/*.team-member:hover .team-picture {*/
/*background-blend-mode: multiply;*/
/*}*/

.team-member.team-picture {
    transition: var(--tr);
}

.team-picture.jj {
    background: url(../../img/team/jj.jpg) no-repeat center bottom / cover;
    background-color: var(--color-bloc);
}

.team-picture.rindra {
    background: url(../../img/team/rindra.jpg) no-repeat center bottom / cover;
    background-color: var(--color-bloc);
}

.team-picture.guillaume {
    background: url(../../img/team/guillaume.jpg) no-repeat center bottom / cover;
    background-color: var(--color-bloc);
}

.team-picture.steven {
    background: url(../../img/team/steven.jpg) no-repeat center bottom / cover;
    background-color: var(--color-bloc);
}

.team-picture.bastien {
    background: url(../../img/team/bastien.jpg) no-repeat center bottom / cover;
    background-color: var(--color-bloc);
}

.team-picture.chris {
    background: url(../../img/team/chris.jpg) no-repeat center bottom / cover;
    background-color: var(--color-bloc);
}

.team-picture.emilie {
    background: url(../../img/team/emilie.jpg) no-repeat center bottom / cover;
    background-color: var(--color-bloc);
}

.team-picture.flo {
    background: url(../../img/team/floriane.jpg) no-repeat center bottom / cover;
    background-color: var(--color-bloc);
}

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel-wrapper {
    position: relative;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    margin: 2em auto;
}

.jcarousel img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto !important;
}

.slide-read-next a {
    font-weight: 600;
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    color: var(--color-white);
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    transition: var(--tr);
}

.jcarousel-control-prev {
    left: 15px;
    transform: rotate(180deg);
}

.jcarousel-control-next {
    right: 15px;
}

.jcarousel-control-next:hover, .jcarousel-control-prev:hover {
    opacity: .5;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: rgba(244, 238, 227, 0.5);
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 4px;
}

.jcarousel-pagination a.active {
    background: rgba(133, 102, 170, 0.5);
    color: #fff;
    opacity: 1;
}

.jcarousel-wrapper.responsive{
    display: none;
}

/** CONTACT **/
#contact {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

#contact h2 {
    color: var(--color-bloc);
    text-align: center;
    font-size: 4em;
}

#contact p {
    color: #000;
    font-family: var(--second-font);
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 2em
}

#contact .btn-cta {
    margin: 0 auto;
    padding: 0.8em 2em;
    padding-right: 18px;
    transition: var(--tr);
}

/* ----------------------- ANIMATION SCROLL BOUNCE ARROW -------------------- */

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

/*** OPINIONS ***/
#opinion h2 {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 3em;
    font-family: var(--main-font);
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    line-height: 1.5;
}

#opinion img {
    height: auto;
}

#btn-cta-app {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 8em;
}

.btn-cta span {
    transform: rotate(180deg);
    vertical-align: middle;
    position: absolute;
    top: 25%;
    left: 8%;
    transition: var(--tr);
}

.btn-cta:hover span {
    left: -20%;
}

.btn-cta span svg {
    width: 20px;
    height: auto;
}

#btn-cta-app .btn-cta {
    margin-right: 2em;
}

#btn-cta-app .btn-cta:last-child {
    margin-right: 0;
}

#btn-cta-app .btn-cta-refused {
    background-color: var(--color-text);
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 1em 1.2em;
    position: relative;
    width: auto;
    font-size: 1.5em;
}

#btn-cta-app .btn-cta-refused:hover {
    color: var(--color-white);
    background-color: var(--color-btn);
}

/*** FOOTER ***/
#landing2-footer {
    background: transparent;
    text-align: center;
    color: var(--color-white);
    text-decoration: none;
    clear: both;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--second-font);
    font-size: .8em;
    padding: 2em;
}

#landing2-footer ul li a img {
    width: 18px;
    height: auto;
    transition: var(--tr);
}

#landing2-footer ul li a img:hover {
    transform: scale(1.1);
}

#landing2-footer ul {
    display: flex;
    justify-content: space-around;
    width: 35%;
    line-height: 20px;
}


#landing2-footer a {
    color: #fff;
    text-decoration: none;
}

/*** OVERLAY VIDEO ***/
#overlay-video {
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 120;
    position: fixed;
    display: none;
}

#iframeVideo {
    width: 100vw;
    height: 100vh;
}

#overlay-close {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#overlay-close img {
    width: 30px;
    height: 30px;
    transition: var(--tr);
}

#overlay-close:hover img {
    transform: scale(1.1);
}

#overlay-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-bloc);
    display: none;
}

#overlay-menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#overlay-menu ul li {
    margin-bottom: 1em;
    margin-top: 1em;
}

#overlay-menu ul li a {
    text-decoration: none;
    color: var(--color-white) !important;
    font-size: 1.5em;
}

#overlay-menu ul li a:hover:last-child {
    color: var(--color-bloc);
}

/*!*** OVERLAY FORM ***!*/
/*#overlay-yes, #overlay-no {*/
/*display: none;*/
/*height: 100%;*/
/*width: 100%;*/
/*position: fixed;*/
/*top: 0;*/
/*background-color: rgba(151, 3, 63, .85);*/
/*z-index: 90;*/
/*left: 0;*/
/*justify-content: center;*/
/*align-items: center;*/
/*}*/

/*.overlay-form {*/
/*width: 400px;*/
/*min-height: 350px;*/
/*display: flex;*/
/*align-items: center;*/
/*align-content: center;*/
/*margin: 0 auto;*/
/*flex-direction: column;*/
/*background-color: var(--color-main);*/
/*z-index: 100;*/
/*}*/

/*.overlay-form-text {*/
/*color: #fff;*/
/*margin: 2em;*/
/*}*/

/*.overlay-form .btn-cta {*/
/*font-family: var(--second-font);*/
/*}*/

/*.overlay-form form {*/
/*width: 80%;*/
/*display: flex;*/
/*flex-direction: column;*/
/*}*/

/*.overlay-form input {*/
/*-webkit-appearance: none !* this is required for Webkit browsers *!;*/
/*-moz-appearance: none !* this is not supported currently *!;*/
/*appearance: none;*/
/*border: none;*/
/*color: #fff;*/
/*background-color: var(--color-btn);*/
/*padding: .6em;*/
/*margin-bottom: .5em;*/
/*font-family: var(--second-font);*/
/*}*/

/*.overlay-transparent {*/
/*width: 100%;*/
/*height: 100%;*/
/*position: absolute;*/
/*z-index: 90;*/
/*}*/

/*::-webkit-input-placeholder { !* Chrome/Opera/Safari *!*/
/*color: var(--color-white);*/
/*}*/

/*::-moz-placeholder { !* Firefox 19+ *!*/
/*color: var(--color-white);*/
/*}*/

/*:-ms-input-placeholder { !* IE 10+ *!*/
/*color: var(--color-white);*/
/*}*/

/*:-moz-placeholder { !* Firefox 18- *!*/
/*color: var(--color-white);*/
/*}*/

/*.overlay-form textarea {*/
/*max-width: 100%;*/
/*background-color: var(--color-btn);*/
/*color: #fff;*/
/*font-family: var(--second-font);*/
/*margin-top: 1em;*/
/*margin-bottom: 1em;*/
/*border: none;*/
/*overflow: auto;*/
/*outline: none;*/
/*-webkit-box-shadow: none;*/
/*-moz-box-shadow: none;*/
/*box-shadow: none;*/
/*min-height: 5em;*/
/*}*/

/*.overlay-form textarea:placeholder {*/
/*color: var(--color-white);*/
/*}*/

/*.select-style {*/
/*border: 1px solid #ccc;*/
/*width: 120px;*/
/*border-radius: 3px;*/
/*overflow: hidden;*/
/*}*/

/*.select-style select {*/
/*padding: 1em;*/
/*width: 100%;*/
/*border: none;*/
/*box-shadow: none;*/
/*background: var(--color-btn);*/
/*background-image: none;*/
/*-webkit-appearance: none;*/
/*color: #fff !important;*/
/*}*/

/*.select-style select option {*/
/*color: #fff;*/
/*}*/

/*.select-style select:focus {*/
/*outline: none;*/
/*}*/
.chat-triger {
    position: fixed;
    right: 5%;
    bottom: 5%;
    padding: 20px;
    background: var(--color-text);
    text-transform: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.chat-triger:before {
    position: absolute;
    background: var(--color-text);
    width: 40px;
    height: 40px;
    content: "";
    display: block;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    animation: wave-animate 3s infinite ease-out;
    z-index: -1;
}

@keyframes wave-animate {
    0% {
        transform: scale(0);
        opacity: 1;
        transform-origin: center;
    }
    100% {
        transform: scale(3);
        opacity: 0;
        transform-origin: center;
    }
}

.chat-triger p {
    color: var(--color-bloc);
}

.chat-triger img {
    vertical-align: middle;
    transition: var(--tr);

}

.chat-triger:hover img {
    transform: scale(1.1);

}

/*** 404 ***/
#errorPage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#errorPage h1 {
    color: var(--color-white);
    font-size: 4em;
    font-family: var(--main-font);
}

#errorPage p {
    color: var(--color-white);
    font-size: 1.2em;
    margin-top: .8em;
    margin-bottom: .8em;
}

#errorPage a {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: .8em 1em;
    cursor: pointer;
    font-size: 1.5em !important;
    font-family: var(--main-font) !important;
    text-decoration: none;
    background-color: #000;
    border-radius: 3px;
}

#errorPage a:hover {
    color: var(--color-bloc);
    background-color: var(--color-white);
}

/* CHAT ****************/

.fb-page {
    position: fixed !important;
    right: 0;
    bottom: 20%;
    z-index: 100;
    display: none;
    overflow: hidden;
    transition: var(--tr);
}

/** RESPONSIVE DESIGN **/
@media screen and (max-width: 970px) {
    /** GENERICS **/
    body {
        background: url(../img/bg-header.png) no-repeat top left / 50% auto, url(../img/bg-solutions.png) no-repeat 50% 44% / 100% auto;
    }

    .nav-background {
        height: 10vh;
    }

    .chat-triger {
        width: 20px;
        height: 20px;
    }

    .chat-triger p {
        display: none;
    }

    /*** HEADER ***/
    header {
        justify-content: space-between;
        height: 10vh;
    }

    #logo {
        position: fixed;
        top: 4%;
        left: 10%;
        width: 50px;
        height: auto;
        z-index: 20;
    }

    #bloc-video:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background-color: rgba(220, 16, 81, 0.36);
    }

    #chiffres h3 {
        padding-bottom: 1em;
    }

    /*** MENU ***/
    #menu {
        display: none;
    }

    .clicked {
        display: block;
    }

    #burger-menu {
        display: block;
    }

    #burger-menu {
        cursor: pointer;
        display: block;
        position: relative;
        padding: 2em;
        -webkit-transition: var(--tr);
        -moz-transition: var(--tr);
        -ms-transition: var(--tr);
        -o-transition: var(--tr);
        transition: var(--tr);
        z-index: 20;
        float: right;
    }

    .bar {
        display: block;
        height: 4px;
        width: 25px;
        margin-bottom: .2em;
        background-color: #fff;
        -webkit-transition: var(--tr);
        -moz-transition: var(--tr);
        -ms-transition: var(--tr);
        -o-transition: var(--tr);
        transition: var(--tr);
    }

    .bar:nth-child(2) {
        width: 20px;
    }

    .bar:last-child {
        margin-bottom: 0;
        width: 18px;
    }

    #burger-menu:hover .bar:first-child {
        width: 20px;
    }

    #burger-menu:hover .bar:nth-child(2) {
        width: 22px;
    }

    #burger-menu:hover .bar:nth-child(3) {
        width: 10px;
    }

    #burger-menu:hover .bar:first-child,
    #burger-menu:hover .bar:last-child,
    #burger-menu:hover .bar:nth-child(2) {
        -webkit-transition: var(--tr);
        -moz-transition: var(--tr);
        -ms-transition: var(--tr);
        -o-transition: var(--tr);
        transition: var(--tr);
    }

    #burger-menu.clicked .bar:first-child {
        display: none;
        -webkit-transition: var(--tr);
        -moz-transition: var(--tr);
        -ms-transition: var(--tr);
        -o-transition: var(--tr);
        transition: var(--tr);
    }

    #burger-menu.clicked .bar:nth-child(2) {
        transform: rotate(45deg);
        -webkit-transition: var(--tr);
        -moz-transition: var(--tr);
        -ms-transition: var(--tr);
        -o-transition: var(--tr);
        transition: var(--tr);
    }

    #burger-menu.clicked .bar:nth-child(3) {
        display: none;
        -webkit-transition: var(--tr);
        -moz-transition: var(--tr);
        -ms-transition: var(--tr);
        -o-transition: var(--tr);
        transition: var(--tr);
    }

    #menu ul {
        display: block;
        text-align: right;
        margin-right: 2em;
    }

    #menu ul li:last-child {
        margin-top: 2em;
    }

    .btn-cta {
        font-size: 1em;
    }

    /*** BLOC CONNECT ***/
    .social-connect {
        width: 80%;
        position: relative;
        left: 0;
        margin: 0 auto;
    }

    #bloc-connect {
        width: 100%;
    }

    .bloc-titles {
        position: relative;
    }

    #bloc-connect .bloc-titles h1 {
        width: 80%;
        font-size: 4rem;
    }

    #bloc-connect .bloc-titles p {
        margin-bottom: 2em;
        font-size: 1.2em;
        width: 80%;
    }

    .bloc-form {
        width: 100%;
        justify-content: flex-start;
        height: auto;
    }

    /*** BLOC VIDEO ***/
    #scrollArrow {
        left: 45%;
    }

    .btn-cta-form {
        width: 60%;
        height: auto;
        padding: 1em;
        font-size: 1.2em;
    }

    .btn-cta span {
        transform: rotate(180deg);
        vertical-align: middle;
        position: absolute;
        top: 25%;
        left: 10%;
        transition: var(--tr);
    }

    .column-left img {
        width: 100%;
    }

    /*** TESTIMONIALS ***/
    #testimonials {
        margin-top: 10%;
        width: 100%;
    }

    .testimonials {
        min-width: 80%;
    }

    #testimonials-content {
        width: 100%;
        display: block;
    }

    .testimonial {
        width: auto;
        text-align: left;
    }

    #testimonials h3 {
        width: 80%;
    }

    /*** SOLUTIONS ***/
    #solutions {
        padding-top: 2em;
        padding-left: 20px;
        padding-right: 20px;
    }

    #solutions h2 {
        text-align: center;
        width: 80%;
        font-size: 2rem;
    }

    #solutions-content {
        flex-direction: column;
        align-items: center;
    }

    .bloc-content {
        width: 100%;
        margin-bottom: 2em;
    }

    #chiffres-content {
        flex-direction: column;
        padding-bottom: 2em;
    }

    .chiffres-content {
        margin: 1em auto;
    }

    .picto {
        position: relative;
        top: 0;
        left: 0;
    }

    #bloc-user img {
        bottom: -30%;
        right: 24%;
    }

    /** TEAM **/
    #application {
        width: 100%;
        background: url(../img/fond-solution.png) no-repeat right 0% / 100% 45%;
        height: auto;
        margin-top: 8em;
    }

    .column-left {
        float: none;
        width: 100%;
    }

    .column-right {
        float: none;
        width: 100%;
        margin-top: 0;
    }

    .column-right h3 {
        text-align: right;
        margin: .5em;
    }

    .column-right ul {
        margin-right: 0;
    }

    #opinion h2 {
        margin-bottom: 1em;
    }

    #btn-cta-app {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #btn-cta-app .btn-cta {
        margin: 0;
        width: 80%;
    }

    #btn-cta-app .btn-cta-refused {
        font-size: 1em;
        margin-top: 2em;
        width: 80%;
    }

    #opinion {
        width: 100%;
        margin-top: 3em;
    }

    #landing2-footer {
        display: block;
    }

    #landing2-footer ul {
        text-align: center;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 3em;
    }

    footer li:first-child {
        display: none;
    }

    footer li {
        padding: 10px;
    }
}

@media screen and (max-width: 570px) {
    .jcarousel-wrapper{
        display: none;
    }
    .jcarousel-wrapper.responsive{
        display:block;
    }

}
@media screen and (min-width: 1500px) {
    #solutions{
        background: url(../../img/landing3/bg-solutions.png) no-repeat left top / auto 150%;
    }
}
