<script>
    setTimeout(function () {
        $("#loader").fadeOut("1000");
    }, 1000);
</script>
<header>
    <h1>
        <img id="logo" src="img/logo-hush.png" alt="Hush"/>
    </h1>
    <ul>
        <li><a href="#section-2" title="Nos fonctionnalités">Fonctionnalités</a></li>
        <li><a href="#section-5" title="Rejoignez-nous !">Plus</a></li>
    </ul>
</header>
<div class="social-connect-container">
    <div class="social-connect">
        <div class="co-container">
            <div class="co" id="signInFb">Connectez vous avec Facebook</div>
            <div class="co" id="signInG">Connectez vous avec Google</div>
        </div>
    </div>
    <div class="leave"></div>
</div>
<!-- LOADING PAGE -->
<div id="loader">
    <div id="loader-content">
        <img id="loader-element" src="img/loader.svg" alt="Loading Hush"/>
        <h1>
            <img id="loader-logo" src="img/logo.png" alt="Logo Hush"/>
        </h1>
    </div>
</div>
<!-- LOADING PAGE -->
<div class="section-1">
    <div class="inner-content">
        <h2>
            HUSH, L’INTERACTION SOCIALE EN CLUB RÉINVENTÉE
        </h2>
        <p>Rejoignez la nouvelle vague de clubbing.</p>
        <div class="connect-triger"><a>En découvrir plus</a></div>
    </div>
</div>
<div class="section-2" id="section-2">
    <div class="section-2-top">
        <h2>Disruptif. Ludique. Entraînant.</h2>
        <p>La seule solution conçue pour le monde de la nuit.</p>
    </div>
    <div class="section-2-bot">
        <div class="blocks">
            <object type="image/svg+xml" data="img/alerte.svg" width="200" height="100">
            </object>
            <div class="description-title"><h4>Sécurité</h4></div>
            <div class="description"><p> Avec vos amis autour de vous, rien ne peut vous arriver</div>
        </div>
        <div class="blocks">
            <object class="svg-exec" type="image/svg+xml" data="img/interactions.svg" width="200" height="100">
            </object>
            <div class="description-title"><h4>Interactions</h4></div>
            <div class="description"><p>Envoyer des "push" pour intéragir avec les personnes à proximité</p></div>
        </div>
        <div class="blocks">
            <object class="svg-exec" type="image/svg+xml" data="img/app.svg" width="200" height="80">
            </object>
            <div class="description-title"><h4>Personnalisation</h4></div>
            <div class="description"><p>Créez une description et choisissez un statut qui vous convient</div>
        </div>
    </div>
</div>
<div class="section-3">
    <h2>Statistiques</h2>
    <div class="stats">32K<br><span>Clubbers</span></div>
    <div class="stats">2000<br><span>Boîtes de nuits</span></div>
    <div class="stats">70%<br><span>Ont du mal à communiquer</span></div>
    <div class="stats">77%<br><span>ont hésité à aborder quelqu'un qui leur plaît</span></div>
</div>
<div class="section-4">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul>
                <li>
                    <div class="slider-content">
                        <div class="left-part">
                            <div class="bulle-left"><p>"Le bruit est souvent un obstacle pour engager une conversation."</p>
                            </div>
                            <div class="bulle-legend">Henry, 24 ans</div>
                        </div>
                        <div class="right-part">
                            <div class="bulle-right"><p>"Aujourd'hui, on a strictement aucun moyen d'arrêter un harcèlement sexuel en boîte."</p>
                            </div>
                            <div class="bulle-legend">Marie, 19 ans</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-content">
                        <div class="left-part">
                            <div class="bulle-left"><p>"C'est pas évident d'aborder quelqu'un quand t'es venu en groupe."</p>
                            </div>
                            <div class="bulle-legend">Edouard, 23 ans</div>
                        </div>
                    </div>
                </li>
                <li>
                </li>
            </ul>
        </div>
        <a href="#" class="jcarousel-control-prev"><img src="img/slide-left.png"></a>
        <a href="#" class="jcarousel-control-next"><img src="img/slide-right.png"></a>
    </div>
</div>
<div class="section-5" id="section-5">
    <h2>Devenez partie intégrante de Hush en vous inscrivant et participez à son évolution.</h2>
    <div class="connect-triger"><a>Rejoignez Hush</a></div>
</div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '95100348886',
            xfbml      : true,
            version    : 'v2.6'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-page"
     data-href="https://www.facebook.com/321918211573019/"
     data-tabs="messages"
     data-width="400"
     data-height="300"
     data-small-header="true">
    <div class="fb-xfbml-parse-ignore">
        <blockquote></blockquote>
    </div>
</div>

<footer class="section-6">
    <h3>Hush</h3>
    <ul>
        <li class="social">
            <a href="https://www.facebook.com/HushAppOfficial/"><img src="../img/rs/fb.svg" alt="Visitez notre page Facebook"/></a>
        </li>
        <li class="social">
            <a href="https://twitter.com/HushAppOfficial"><img src="../img/rs/twitter.svg" alt="Compte Twitter"/></a>
        </li>
        <li class="social">
            <a href="https://www.linkedin.com/company-beta/11167116/"><img src="../img/rs/linkedin.svg" alt="Compte Linkedin"/></a>
        </li>
        <li class="social">
            <a href="https://medium.com/@hushapp"><img src="../img/rs/medium.svg" alt="Lisez nos articles sur Medium !"/></a>
        </li>
    </ul>
    <div class="copyright">
        ©Copyright Hush 2017<br>
        <a href="../mentions.html" target="_blank" title="Mentions légales">Mentions légales</a> | <a href="mailto:hello@hushapp.net">hello@hushapp.net</a>
    </div>
</footer>
<div class="chat-triger"><img src="img/chat_pink2.svg" width="30" height="auto"><p>Hush répond à toutes vos questions</p></div>
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:540602,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-100805919-3', 'auto');
    ga('send', 'pageview');

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../js/messenger-pop.js"></script>
<script src="../js/jquery.touchwipe.min.js"></script>
<script src="../js/jquery.jcarousel.min.js"></script>
<script src="../js/plugins.js"></script>
<script type="application/ecmascript">
    let landingType = "n°1";
</script>
<script src="../js/connect.js"></script>