<script>
    $(document).ready(function () {

        setTimeout(function () {
            $("#loader").fadeOut("1000");
        }, 1000);


        $("#form-yes").submit(function (event) {
            event.preventDefault();
            $.post("form.php",
                {
                    email: $("#email").val(),
                    number: $("#number").val(),
                    message: $("#message").val()
                },
                function (data) {
                    $("#opinion").html(data);
                });
        });
        $("#form-no").submit(function (event) {
            event.preventDefault();
            $.post("form.php",
                {
                    message: $("#message-no").val()
                },
                function (data) {
                    $("#opinion").html(data);
                });
        });
    });
</script>
<div class="social-connect-container">
    <div class="social-connect">
        <div class="co-container">
            <div class="co" id="signInFb">Connectez vous avec Facebook</div>
            <div class="co" id="signInG">Connectez vous avec Google</div>
        </div>
    </div>
    <div class="leave"></div>
</div>
<!-- LOADING PAGE -->
<div id="loader">
    <div id="loader-content">
        <img id="loader-element" src="img/loader.svg" alt="Loading Hush"/>
        <h1>
            <img id="loader-logo" src="img/logo.png" alt="Logo Hush"/>
        </h1>
    </div>
</div>
<!-- LOADING PAGE -->
<!-- HEADER -->
<header>
    <h1>
        <img id="logo" src="img/logo.png" alt="Hush"/>
    </h1>
    <nav id="menu">
        <ul>
            <li>
                <a href="#testimonials" title="témoignages.">témoignages.</a>
            </li>
            <li>
                <a href="#solutions" title="fonctionnalites">fonctionnalités.</a>
            </li>
            <li>
                <a href="#application" title="application">l'application.</a>
            </li>
            <li>
                <a class="btn-cta connect-triger " href="javascript:void(0)" title="Pré-commander">
                    <script>
                        $("#svg-target-13").load('img/pictos/arrows.svg');
                    </script>
                    <span id="svg-target-13">
             </span>
                    Pré-commander

                </a>
            </li>
        </ul>
    </nav>
</header>
<!-- HEADER -->
<main class="wrapper">
    <section id="bloc-video">
        <!-- BLOC CONNECT -->
        <div id="bloc-connect">
            <div class="bloc-titles">
                <h1>Découverte.</h1>
                <h2>Connexion.</h2>
                <h2>Innovation.</h2>
                <p>La nouvelle expérience en club. <br> Communiquez en tout simplicité <br> avec le bracelet connecté
                    Hush.</p>
            </div>
            <div class="bloc-form">
                <p class="bloc-content">Ne loupez rien des actualités de Hush et participez à son évolution.</p>
                <a href="javascript:void(0)" class="btn-cta-form connect-triger">
                    <script>
                        $("#svg-target-3").load('img/pictos/arrows.svg');
                    </script>
                    <span id="svg-target-3">
                    </span>
                    S'inscrire.
                </a>
            </div>
        </div>
        <!-- BLOC CONNECT -->
        <!-- BLOC TESTIMONIALS -->
        <div id="testimonials">
            <div id="testimonials-bloc">
                <h2>Nous écoutons.</h2>
                <div id="testimonials-content">
                    <div class="testimonial">
                        <p class="testimonial-text">Le bruit est souvent un obstacle pour engager une conversation.</p>
                        <p class="testimonial-name">Henry, 24 ans</p>
                    </div>
                    <div class="testimonial">
                        <p class="testimonial-text">Aujourd'hui, on a strictement aucun moyen d'arrêter un harcèlement
                            sexuel en boîte.</p>
                        <p class="testimonial-name">Marie, 19 ans</p>
                    </div>
                    <div class="testimonial">
                        <p class="testimonial-text">C'est pas évident d'aborder quelqu'un quand t'es venu en groupe.</p>
                        <p class="testimonial-name">Edouard, 23 ans</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- BLOC TESTIMONIALS -->
    </section>
</main>
<section id="solutions" class="wrapper">
    <h2> Nous réagissons.</h2>
    <div id="solution-pictos">
        <div class="picto-content">
            <script>
                $("#svg-target-1").load('img/pictos/interactions.svg');
            </script>
            <div class="picto" id="svg-target-1">
            </div>
        </div>
    </div>
    <div id="bloc-user">
        <p> Communiquez en toute liberté, sans limite, avec les gens qui vous entourent.</p>
        <img src="img/user.png" alt="User"/>
    </div>
    <div id="application">
        <div class="column-left">
            <img src="img/iphone.png" alt="Application"/>
        </div>
        <div class="column-right">
            <h3>Gérez vos paramètres, <br> depuis notre application.</h3>
            <ul>
                <li>Profil personnalisé.</li>
                <li>Messages personnalisés.</li>
                <li>Statut social.</li>
                <li>Historique des rencontres.</li>
            </ul>
        </div>
    </div>
</section>
<section id="opinion" class="wrapper">
    <h2>
        <img src="img/logo.png" alt="Hush"/>
        vous plaît ?
    </h2>
    <div id="btn-cta-app">
        <a href="javascript:void(0)" id="btn-yes" class="btn-cta" title="Pré-commander">
            <script>
                $("#svg-target-2").load('img/pictos/arrows.svg');
            </script>
            <span id="svg-target-2">
             </span>
            Oui, dîtes m'en plus !
        </a>
        <a href="javascript:void(0)" class="btn-cta-refused" id="btn-no" title="Donnez-nous votre avis">
            Non, pas vraiment
        </a>
    </div>
    <div id="overlay-yes">
        <div class="overlay-transparent"></div>
        <div class="overlay-form">
            <p class="btn-cta">
                <script>
                    $("#svg-target-7").load('img/pictos/arrows.svg');
                </script>
                <span id="svg-target-7">
             </span>
                Oui, dîtes m'en plus !
            </p>
            <p class="overlay-form-text">Inscrivez-vous pour être un des premiers à utiliser Hush !</p>
            <form id="form-yes">
                <input type="email" id="email" placeholder="Adresse mail"/>
                <input type="number" id="number" placeholder="Âge" min="18"/>
                <div class="select-style">
                    <select name="sexe">
                        <option value="1">Homme</option>
                        <option value="2">Femme</option>
                    </select>
                </div>
                <textarea id="message"
                          placeholder="Avez-vous quelque chose à dire sur votre expérience de club ? "></textarea>
                <input type="submit" class="btn-cta" title="Pré-commander" value="Je m'inscris."/>
            </form>
        </div>
    </div>
    <div id="overlay-no">
        <div class="overlay-transparent"></div>
        <div class="overlay-form">
            <p class="btn-cta">
                <script>
                    $("#svg-target-11").load('img/pictos/arrows.svg');
                </script>
                <span id="svg-target-11">
             </span>
                Non, pas vraiment
            </p>
            <p class="overlay-form-text">Nous sommes désolés. Peut-être y a-t-il un moyen d'améliorer notre produit
                ? </p>
            <form id="form-no">
                <textarea id="message-no" placeholder="Dîtes-nous comment améliorer Hush."></textarea>
                <input type="submit" value="Envoyer." class="btn-cta" title="Dites-nous votre avis !"/>
            </form>
        </div>
    </div>
</section>
<!-- TEST -->
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '95100348886',
            xfbml      : true,
            version    : 'v2.6'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-page"
     data-href="https://www.facebook.com/321918211573019/"
     data-tabs="messages"
     data-width="400"
     data-height="300"
     data-small-header="true">
    <div class="fb-xfbml-parse-ignore">
        <blockquote></blockquote>
    </div>
</div>
<footer id="landing2-footer" class="wrapper">
    <p>hush © - tous droits réservés</p>
    <a href="../mentions.html" target="_blank" title="Mentions légales">Mentions légales</a>
    <ul>
        <li>
            <a href="https://www.facebook.com/HushAppOfficial/"><img src="../img/rs/fb.svg"
                                                                     alt="Visitez notre page Facebook"/></a>
        </li>
        <li>
            <a href="https://twitter.com/HushAppOfficial"><img src="../img/rs/twitter.svg" alt="Compte Twitter"/></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company-beta/11167116/"><img src="../img/rs/linkedin.svg"
                                                                           alt="Compte Linkedin"/></a>
        </li>
        <li>
            <a href="https://medium.com/@hushapp"><img src="../img/rs/medium.svg"
                                                       alt="Lisez nos articles sur Medium !"/></a>
        </li>
    </ul>
</footer>
<div class="chat-triger">
    <img src="img/chat_pink.svg" width="30" height="auto"><p>
    Hush répond à toutes vos questions</p>
</div>
<!-- Hotjar Tracking Code for HushApp : Landing n°2 -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:540603,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-100805919-4', 'auto');
    ga('send', 'pageview');

</script>

<script src="../js/messenger-pop.js"></script>
<script src="../js/form.js"></script>
<script src="../js/menu.js"></script>
<script type="application/ecmascript">
    let landingType = "n°2";
</script>
<script src="../js/connect.js"></script>