/*** STYLE WEBAPP HUSH APP ***/

/* GENERICS FONTS */
@font-face {
    font-family: "Helvetica";
    src: url("../font/HelveticaNeueLTPro-Bd.otf");
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../font/BebasNeueBold.otf");
}

:root {
    /* vars for templating */
    --color-main: #c5034d;
    --color-btn: #97033f;
    --color-bloc: #ff0058;
    --color-white: #ffffff;
    --color-text: #640026;
    --main-font: "Bebas Neue", sans-serif;
    --second-font: "Helvetica", sans-serif;
    --tr: all .5s ease;
}

body{
    background: var(--color-btn);
}
/** IPHONE 6 MEDIA QUERY  **/

/*** STYLE GENERICS ***/

/*** NAVABAR ***/

/*** ANIMATIONS SVG ****/

/* ------------------- LOADER --------------- */

#loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: wait;
    text-align: center;
    background: var(--color-bloc);
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader-content{
    width: 100%;
    display: flex;
    justify-content: center;
}
#loader h1 video {
    width: 200px;
    height: auto;
}


