/* Main stylesheet - Landing n°3 page */
/*************************************/

/* GENERICS FONTS */
@font-face {
    font-family: "Helvetica";
    src: url("../font/HelveticaNeueLTPro-Bd.otf");
}

@font-face {
    font-family: "Bebas Neue";
      src: url('../font/BebasNeueBold.eot?#iefix') format('embedded-opentype'),  url('../font/BebasNeueBold.otf')  format('opentype'),
         url('../font/BebasNeueBold.woff') format('woff'), url('../font/BebasNeueBold.ttf')  format('truetype'), url('../font/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: "Grotesk";
    src: url('../font/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'),  url('../font/HKGrotesk-Regular.otf')  format('opentype'),
    url('../font/HKGrotesk-Regular.woff') format('woff'), url('../font/HKGrotesk-Regular.ttf')  format('truetype'), url('../font/HKGrotesk-Regular.svg#HKGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Grotesk Bold";
      src: url('../font/HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'),  url('../font/HKGrotesk-Bold.otf')  format('opentype'),
         url('../font/HKGrotesk-Bold.woff') format('woff'), url('HKGrotesk-Bold.ttf')  format('truetype'), url('../font/HKGrotesk-Bold.svg#HKGrotesk-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
    /* vars for templating */
    --color-main: #c5034d;
    --color-btn: #97033f;
    --color-bloc: #ff0058;
    --color-white: #ffffff;
    --color-text: #640026;
    --color-p: #a9a2a5;
    --color-notif: #888888;
    --main-font: "Bebas Neue", sans-serif;
    --second-font: "Grotesk", sans-serif;
    --third-font: "Grotesk", sans-serif;
    --fourth-font: "Grotesk Bold", sans-serif;
    --tr: all .5s ease;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: var(--main-font);
}

/* ------------------- LOADER --------------- */

#loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: wait;
    text-align: center;
    background: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#loader-element {
    width: 40px;
    height: auto;
}

#loader h1 {
    margin-top: 2em;
}

#loader-logo {
    width: 80px;
    height: auto;
    -webkit-animation: logo .5s ease infinite;
    -o-animation: logo .5s ease infinite;
    animation: logo .5s ease infinite;
}

/* ----------------------- ANIMATION SCROLL SCALE -------------------- */
@keyframes logo {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* ----------------------- ANIMATION SCROLL ARROW -------------------- */
@-webkit-keyframes scrollArrow {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-35px);
    }
    60% {
        -webkit-transform: translateY(-35px);
    }
}

@-moz-keyframes scrollArrow {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-35px);
    }
    60% {
        -moz-transform: translateY(-35px);
    }
}

@keyframes scrollArrow {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-35px);
        -moz-transform: translateY(-35px);
        -ms-transform: translateY(-35px);
        -o-transform: translateY(-35px);
        transform: translateY(-35px);
    }
    60% {
        -webkit-transform: translateY(-35px);
        -moz-transform: translateY(-35px);
        -ms-transform: translateY(-35px);
        -o-transform: translateY(-35px);
        transform: translateY(-35px);
    }
}

/* ------- SCROLLBAR ------ */

body::-webkit-scrollbar {
    width: 1em;
    padding-left: .2em;
}

body::-webkit-scrollbar-track {
    background-color: var(--color-text);
    box-shadow: 1em 1em 1em #000;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-white);
    outline: 1px solid slategrey;
}

/*** BACKGROUND ***/
html {
    background-color: var(--color-bloc);
}

body {
    width: 100%;
}

/*** GENERICS ***/
header {
    height: 9vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 100;
    transition: var(--tr);
    margin-top: 2em;
}

.header-wrapper {
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
}

header h1 {
    position: absolute;
    left: 20px;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

/*** LOGO ***/
#logo {
    width: 80px;
    height: auto;
}

/*** MENU ***/
.nav-background {
    background: var(--color-bloc);
    transition: var(--tr);
    margin-top: 0;
}

#menu {
    margin: 0 auto;
    max-width: 530px;
    height: 9vh;
    line-height: 9vh;
}

#menu ul {
    display: flex;
}

#menu li {
    margin-left: 4em;
}

#menu li:first-child {
    margin-left: 0;
}

#menu ul li a {
    position: relative;
    text-decoration: none;
    font-family: var(--fourth-font);
    color: var(--color-white);
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
    font-size: 1em;
    border-bottom: 2px solid transparent;
    padding-bottom: 0.2em;
}

#menu ul li a:hover {
    border-bottom: 2px solid #fff;
}
#menuCTA .btn-cta{
    border: 2px solid var(--color-white);
    background: transparent;
    color: var(--color-white);
}

/*#menu ul li a:after {*/
/*content: "";*/
/*display: block;*/
/*height: 100%;*/
/*width: 100%;*/
/*position: absolute;*/
/*z-index: -5;*/
/*left: 50%;*/
/*bottom: 0;*/
/*-webkit-transform: translateX(-50%) skew(-89deg) scaleX(1.5);*/
/*transform: translateX(-50%) skew(-89deg) scaleX(1.5);*/
/*opacity: 0;*/
/*background: var(--color-white);*/
/*-webkit-transition: all 0.3s cubic-bezier(0.42, 0.08, 0, 1.8);*/
/*transition: all 0.3s cubic-bezier(0.42, 0.08, 0, 1.8);*/
/*}*/

/*#menu ul li a:hover:after {*/
/*width: 140%;*/
/*-webkit-transform: translateX(-50%) skew(-20deg) scaleX(1);*/
/*transform: translateX(-50%) skew(-20deg) scaleX(1);*/
/*opacity: 1;*/
/*}*/


/** MENU BURGER RESPONSIVE **/
#burger-menu {
    display: none;
}

/** MAIN SECTION **/
/** FB et GG CONNECT **/
.social-connect-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    z-index: 40;
    display: none;
    color: white;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.leave {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}

.social-connect {
    left: 30%;
    top: calc(50% - 200px);
    position: fixed;
    z-index: 100;
    width: 40%;
    height: 400px;
    background: var(--color-white);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.connect-triger {
    cursor: pointer;
}

.co-container {
    position: relative;
}

.co {
    cursor: pointer;
    padding: 20px 10px;
    background: var(--color-text);
    color: var(--color-white);
    width: 320px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto;
    transition: var(--tr);
}

.co:hover {
    background: var(--color-bloc);
    color: var(--color-white)
}

/*** MAIN SECTION ***/
main {
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}
main:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0vh 100vw 36vh 0vh;h;
    border-color: transparent transparent var(--color-white) transparent;
    -webkit-transform: rotate(360deg);
    z-index: -1;
}

#bloc-video {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*** BLOC CONNECT : TITLE ***/
#bloc-connect {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12em;
    margin-bottom: 6em;
}
.blocConnect-left{
    width: 50%;
    text-align: center;
    position: relative;
}
.blocConnect-left figure{
    position: relative;
}
.blocConnect-left figure:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url(../img/shaow_bracelet_blanc.png) no-repeat bottom center;
    top: 20%;
    left: 0;
    animation: bounceShadow 3s ease-in-out infinite alternate;
}
@keyframes bounceShadow {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
}

}
.blocConnect-left figure img{
    animation: bounceBracelet 3s ease-in-out infinite alternate;
}
@keyframes bounceBracelet  {
    0%{
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-25px);
    }
}
.blocConnect-right{
    width: 50%;
}
#bloc-connect .bloc-titles h1 {
    text-align: left;
    color: #fff;
    font-family: var(--main-font);
    font-size: 4em;
    width: 85%;
    line-height: 1;
    margin-bottom: 0.4em;
}

#bloc-connect .bloc-titles hr {
    width: 10%;
    height: 5px;
    background-color: #000;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

#bloc-connect .bloc-titles p {
    font-family: var(--fourth-font);
    color: #680931;
    width: 100%;
    line-height: 1.5;
    margin-bottom:2em;
    font-size: 1.1em
}
.bloc-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/*** LOOK THE VIDEO ***/
.btn-cta-demo {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    height: 55px;
    line-height: 55px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: var(--main-font) !important;
    text-decoration: none;
    background-color: #000;
    border-radius: 3px;
    font-size: 1.5em !important;
    padding-left: 0.7em;
    padding-right: 0.9em;
    display: block;
    transition: var(--tr);
}

.btn-cta-demo:hover {
    color: #000 !important;
    background-color: var(--color-white);
    box-shadow: 0.1em 0.1em 3em 0.2em rgba(255, 0, 88, .4);

}

.btn-cta-demo span {
    transform: rotate(180deg);
    vertical-align: middle;
    transition: var(--tr);
    margin-right: 0.3em;
}

.btn-cta-demo span img {
    width: 24px;
    height: auto;
    vertical-align: middle;
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
}

.btn-cta-demo:hover span img {
    
}
.demo{
    float: left;
}

#demo_nav {
    position: absolute;
    right: 20px;
}

.header-wrapper .btn-cta-demo {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    height: 45px;
    line-height: 45px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: var(--main-font) !important;
    text-decoration: none;
    background-color: #000;
    border-radius: 3px;
    font-size: 1.2em !important;
    padding-left: 0.7em;
    padding-right: 0.9em;
    display: block;
    transition: var(--tr);
}

.header-wrapper .btn-cta-demo:hover {
    color: #000 !important;
    background-color: var(--color-white);
    box-shadow: 0.1em 0.1em 3em 0.2em rgba(255, 0, 88, .4);
}

.header-wrapper .btn-cta-demo span img {
    width: 20px;
}

. .btn-cta-demo span img {
    width: 20px;
    height: auto;
    vertical-align: middle;
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
}

#video span img {
    width: 30px;
    height: 30px;
    }

#video  {
    width: auto;
    margin-left: 3em;
    padding: 0.7em .8em 0.5em 0.8em;
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
}

#video:hover  {
    color:#000;
    border-bottom: 2px solid #000;
}

#video span {
    left: -16%;
    height: 25px;
    transition: var(--tr);
}
#video:hover span{
    left: -35%;
}


.btn-cta {
    text-transform: uppercase;
    position: relative;
    width: 160px;
    justify-content: center;
    align-items: center;
    padding: 0.5em .8em 0.5em 0.8em;
    cursor: pointer;
    font-size: 1.5em !important;
    font-family: var(--main-font) !important;
    text-decoration: none;
    margin-left: 3em;
    color: #000;
    border-bottom: 2px solid transparent;
}

.btn-cta span {
    transform: rotate(180deg) translate(-50%);
    position: absolute;
    left: -15%;
    width: 20px;
    height: 20px;
}

.btn-cta span img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
    transform: rotate(180deg);
}

.btn-cta:hover span img {
    left: -20%;
}
#video{
    float: left;
}

#video .btn-cta {
    padding: 0.7em .8em 0.5em 0.8em;
}

.btn-cta-form {
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    position: relative;
    width: 350px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
}

.btn-cta-form:hover {
    color: var(--color-bloc);
    background-color: var(--color-white);
}

.btn-cta-form span svg {
    position: absolute;
    top: 35%;
    left: -5%;
    width: 30px;
    height: auto;
    transform: rotate(180deg);
    vertical-align: middle;
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
}

.btn-cta-form:hover span svg {
    left: -15%;
}

.btn-cta-opinion {
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    padding: 1em .8em;
    text-decoration: none;
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

#scrollArrow {
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 7%;
    left: 48%;
    -webkit-animation: scrollArrow 2s ease infinite;
    -o-animation: scrollArrow 2s ease infinite;
    animation: scrollArrow 2s ease infinite;
}

#scrollArrow img {
    width: 30px;
    height: auto;
    transform: rotate(90deg);
}

/*** TESTIMONIALS ***/
.bg-wrapper {
    background: #bb0045; /* Old browsers */
    background: -moz-linear-gradient(left, #bb0045 1%, #f1015a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #bb0045 1%, #f1015a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #bb0045 1%, #f1015a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb0045', endColorstr='#f1015a', GradientType=1); /* IE6-9 */
}

#testimonials {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-transition: var(--tr);
    -moz-transition: var(--tr);
    -o-transition: var(--tr);
    transition: var(--tr);
    position: relative;
}

#testimonials h3 {
    font-size: 4em;
    color: var(--color-white);
    text-align: center;
    width: 60%;
    padding-top: 1em;
    margin: 0 auto;
}

#testimonials-content {
    position: relative;
}

#testimonials h2 {
    color: #fff;
    font-size: 4em;
    width: 45%;
    margin-bottom: .5em;
}

#testimonials-content {
    display: flex;
    width: 600px;
}

.testimonials {
    position: relative;
    color: #fff;
    font-family: var(--second-font);
    font-size: .9em;
    margin: 2em auto;
    max-width: 600px;
    border: 2px solid #000;
    min-width: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-description {
    width: 80%;
    text-align: center;
    margin: 2em auto;
    font-size: 1.2em;
}

.testimonialName {
    color: #000;
}

.testimonial-name {
    position: relative;
    font-family: var(--main-font);
    display: table;
    margin: 1em auto;
    font-size: 1.2em;
}

.testimonial .testimonial-text {
    padding: .9em;
}

.testimonial-name:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 8px;
    width: 100%;
    background-color: var(--color-bloc);
    z-index: -1;
}

/*** SOLUTIONS ***/
#solutions {
    clear: both;
    background-color: var(--color-white);
    padding-top: 2em;
}
.solutionsBaseline{
    text-align: center;
    color: var(--color-p);
    font-size: 1.5em;
    font-family: var(--third-font);
    text-transform: uppercase;
}

#solutions h2 {
    font-size: 4em;
    color: var(--color-bloc);
    text-align: center;
    width: 35%;
    margin: .3em auto 1em auto;
}

.solutionsPictos{
    height: 230px;
    width: 250px;
    text-align: center;
    margin-bottom: 2em;
}
.solutionsPictos figure{
    position: relative;
    width: 90px;
    height: 90px;
    margin: 1em auto;
}
.solutionsPictos figure:before{
    content: "";
    position: absolute;
    height: 90px;
    width: 90px;
    top: 0;
    left: 0;
    background-color: var(--color-bloc);
    box-shadow: 0em 0.7em 2em 0.2em rgba(255, 0, 88, .2);
    border-radius: 50%;
}
.solutionsPictos img{
    width: 40px;
    height: auto;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
}
.solutionsPictoTitle {
    font-family: var(--main-font) !important;
    color: #000 !important;
    font-size: 2em;
    margin-bottom: .5em;
}
.solutionsPictos p{
    font-family: var(--third-font);
    color: var(--color-p);
    line-height: 1.2;
}
#solutions-content {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 4em;
    position: relative;
}

.blocHow{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding-top: 10em;
    padding-bottom: 5em;
}
.blocHow:before{
    content: "";
    position: absolute;
    height: 80%;
    width: 100%;
    top: 0;
    left: 0;
    background: url(../img/bg-comment.jpg) no-repeat fixed 50% -50% / cover;
    z-index: 0;
}
.blocHow:after{
    content: "";
    position: absolute;
    border-bottom: solid 5vw var(--color-white);
    border-left: solid 98vw transparent;
    border-right: solid 0vw transparent;
    transform: rotate(-180deg);
    top: 0;
    left: 0;
}
.blocHow .solutionsBaseline{
    color: #54031e !important;
    position: relative;
}
.blocHow h2{
    color: var(--color-white) !important;
    position: relative;
}
.bloc-contentWrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 90;
}
.bloc-content {
    width: 280px;
    height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0.2em 0.2em 9em 0.1em rgba(255, 0, 88, .2);
    transition: var(--tr);
}

.bloc-content img {
    width: 40px;
    height: auto;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 35%;
}
.bloc-content figure{
    position: relative;
    width: 90px;
    height: 90px;
    margin: 2em auto;
}
.bloc-content figure:before{
    content: "";
    background-color: var(--color-white);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0em 0.7em 4em 0.1em rgba(255, 0, 88, .2);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 15%;
}

.bloc-content .baseline-content {
    color: var(--color-bloc);
    font-size: 2em;
}

.bloc-content .description-content {
    text-align: center;
    color: var(--color-p);
    padding: 1em 2.5em;
    font-size: 1em;
    font-family: var(--third-font);
    line-height: 1.2;
}

.bloc-contentCenter{
    width: 450px;
    height: 450px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    background: url(../img/rayons.png) no-repeat center center / cover;
}
.bloc-contentCenter:before{
    content: "";
    position: absolute;
    bottom: 0;
    background: url(../img/shadow_bracelet_noir.png) no-repeat bottom center;
    width: 450px;
    height: 450px;
    left: 0;
    animation: bounceShadow 3s ease infinite alternate;
}
.bloc-contentCenter img{
    animation: bounceBracelet 3s ease-in-out infinite alternate;
    height: 295px;
    width: 295px;
    position: absolute;
    top: 77.5px;
    left: 77.5px;
}

/** ARTICLE : CHIFFRES **/
#chiffres {
    background-color: #fff;
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -11em;
    background: url(../img/bg_chiffres.jpg) no-repeat fixed center center / cover;
    padding-top: 11em;
    position: relative;
    overflow: hidden;
    padding-bottom: 4em;
}
#chiffres:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    border-bottom: solid 5vw var(--color-bloc);
    border-left: solid 100vw transparent;
    border-right: solid 0 transparent;
}
#chiffres h3 {
    font-size: 4em;
    text-align: center;
    color: var(--color-bloc);
    padding-top: .2em;
    padding-bottom: 0.3em;
}

#chiffres-content {
    display: flex;
    justify-content: space-around;
    align-content: center;
    min-height: 200px;
    align-items: center;
}

.chiffres-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
}

.chiffres-content .chiffres {
    color: var(--color-text);
    font-size: 4em;
}

.chiffres-content .chiffres-description {
    font-size: 1.1em;
    font-family: var(--third-font);
    color: #797175;
    padding: 1.2em;
}

/** TEAM **/
#team {
    position: relative;
    height: 700px;
    padding-top: 3em;
}
.team article img{
    width: 100%;
    position: relative;
    z-index: -1;
}

#team h3 {
    font-size: 4em;
    color: #fff;
    text-align: center;
    padding-top: .4em;
}
.teamPuseld{
    width: 10px;
    height: 10px;
    background-color: var(--color-white);
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}
.teamPuseld:before{
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    animation: pulse 2s ease infinite;
    background-color: var(--color-white);
    transition: var(--tr);
}
#team .solutionsBaseline{
    color: var(--color-text)!important;
}
.teamOverlay {
    display: none;
    animation: overlayZoom .8s cubic-bezier(.75, -0.5, 0, 1.75) forwards;
    background-color: rgba(255, 0, 88, 0.8);
    width: 250px;
    height: 121px;
    z-index: 90;
    line-height: 1.2;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 4px;
    left: 4px;
}
@keyframes overlayZoom {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }

}

.teamOverlayRole{
    color: var(--color-white);
    font-family: var(--third-font);
    font-size: .8em;
    text-transform: uppercase;
}
.teamOverlayTitle{
    color: var(--color-white);
    font-size: 1.2em;
}
@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 1;
        transform-origin: center;
    }
    100%{
        transform: scale(3);
        opacity: 0;
        transform-origin: center;
    }
}

.teamPuseld.flo{
    position: absolute !important;
    left: 13%;
    bottom: 28%;
}
.teamPuseld.bastien{
    position: absolute !important;
    left: 25%;
    bottom: 20%;
}
.teamPuseld.rindra{
    position: absolute !important;
    right: 19%;
    bottom: 30%;
}
.teamPuseld.chris{
    position: absolute !important;
    right: 33%;
    bottom: 18%;
}
.teamPuseld.steven{
    position: absolute !important;
    top: 48%;
    left: 37%;
}
.teamPuseld.guillaume{
    position: absolute !important;
    top: 48%;
    right: 45%;
}
.teamPuseld.emilie{
    position: absolute !important;
    top: 40%;
    right: 53%;
}
.teamPuseld.jj{
    position: absolute !important;
    bottom: 5%;
    right: 53%;
}
#team-picture .btn-cta-team img{
    width: 7px;
    height: 7px;
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 1;
        transform-origin: center;
    }
    100%{
        transform: scale(3);
        opacity: 0;
        transform-origin: center;
    }
}
.overlay-team{
    background-color: var(--color-white);
    padding: 1em;
    display: table;
}
#team article{
}

#team .wrapperTeam {
    width: 1024px;
    margin: auto;
    position: relative;
    height: 540px;

}

#team article img{
    position: absolute;
    z-index: -1;
    bottom: 0px;
    margin: 0 auto;
    transform: translate(-50%);
    left: 50%;
    max-width: 1024px;
}
.callProject{
    width: 100%;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.callProjectWrapper{
    padding: 8em 0em;
    width: 1024px;
    margin: auto;
    }
.callProject h3{
    color: var(--color-bloc);
    font-size: 4em;
    text-align: center;
    margin-bottom: .5em;
    margin-top: .2em
}
.callProject .newsProject{
    color: var(--color-p);
    line-height: 1.5;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2em;
    font-family: var(--third-font);
    font-size: 1.3em;
}
.newsForm{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#email{
    max-width: 485px;
    width: 40%;
    height: 71px;
    background-color: var(--color-white);
    box-shadow: 0em 0.6em 2em 0.2em rgba(255, 0, 88, .15);
    border: none;
    color: var(--color-bloc);
    font-family: var(--third-font);
    font-size: 1.2em;
    transition: var(--tr);
    border-radius: 3px;
    padding: 0 1.2em;
}
#email:focus{
    outline: none;
}
#email:hover{
    box-shadow: 0em 1em 2em 0.2em rgba(255, 0, 88, .3);

}
form{
    text-align: center;
}
#submit{
    width: 160px;
    height: 71px;
    text-align: center;
    margin-left: .5em;
    border: none;
    background-color: #000;
    font-family: var(--main-font);
    color: var(--color-white);
    font-size: 1.4em;
    border-radius: 3px;
    cursor: pointer;
    transition: var(--tr);
}
#submit:hover{
    background-color: var(--color-bloc);
    color: var(--color-white);
    box-shadow:0em 0.6em 2em 0.2em rgba(255, 0, 88, .15);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--color-notif);
    padding-left: 0;
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--color-notif);
    padding-left: 0;
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--color-notif);
    padding-left: 0;
}
:-moz-placeholder { /* Firefox 18- */
    color: var(--color-notif);
    padding-left: 0;
}

/** Carousel **/

.team-content {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

.team-name {
    color: var(--color-text);
    font-size: 1.2em;
    margin-bottom: .8em;
}

.team-role {
    color: var(--color-white);
    font-size: .8em;
    opacity: .8;
}

.team-picture {
    width: 150px;
    height: 160px;
    border-radius: 50%;
    margin: 1em auto;
    transition: var(--tr);
}

.team-member.team-picture {
    transition: var(--tr);
}

.team-picture.jj {
    background: url(../img/team/jj.jpg) no-repeat center bottom / cover;
    background-color: var(--color-bloc);
}

.team-picture.rindra {
    background: url(../img/team/rindra.jpg) no-repeat center bottom / cover;
    background-color: var(--color-bloc);
}

.team-picture.guillaume {
    background: url(../img/team/guillaume.jpg) no-repeat center bottom / cover;
    background-color: var(--color-bloc);
}

.team-picture.steven {
    background: url(../img/team/steven.jpg) no-repeat center bottom / cover;
    background-color: var(--color-bloc);
}

.team-picture.bastien {
    background: url(../img/team/bastien.jpg) no-repeat center bottom / cover;
    background-color: var(--color-bloc);
}

.team-picture.chris {
    background: url(../img/team/chris.jpg) no-repeat center bottom / cover;
    background-color: var(--color-bloc);
}

.team-picture.emilie {
    background: url(../img/team/emilie.jpg) no-repeat center bottom / cover;
    background-color: var(--color-bloc);
}

.team-picture.flo {
    background: url(../img/team/floriane.jpg) no-repeat center bottom / cover;
    background-color: var(--color-bloc);
}

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel-wrapper {
    position: relative;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    margin: 2em auto;
}

.jcarousel img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto !important;
}

.slide-read-next a {
    font-weight: 600;
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    color: var(--color-white);
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    transition: var(--tr);
}

.jcarousel-control-prev {
    left: 15px;
    transform: rotate(180deg);
}

.jcarousel-control-next {
    right: 15px;
}

.jcarousel-control-next:hover, .jcarousel-control-prev:hover {
    opacity: .5;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: rgba(244, 238, 227, 0.5);
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 4px;
}

.jcarousel-pagination a.active {
    background: rgba(133, 102, 170, 0.5);
    color: #fff;
    opacity: 1;
}

.jcarousel-wrapper.responsive{
    display: none;
}

/** CONTACT **/
#contact {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

#contact h2 {
    color: var(--color-bloc);
    text-align: center;
    font-size: 4em;
}

#contact p {
    color: #000;
    font-family: var(--second-font);
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 2em
}

#contact .btn-cta {
    margin: 0 auto;
    padding: 0.8em 2em;
    padding-right: 18px;
    transition: var(--tr);
}

/* ----------------------- ANIMATION SCROLL BOUNCE ARROW -------------------- */

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

/*** OPINIONS ***/
#opinion h2 {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 3em;
    font-family: var(--main-font);
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    line-height: 1.5;
}

#opinion img {
    height: auto;
}

#btn-cta-app {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 8em;
}

#btn-cta-app .btn-cta {
    margin-right: 2em;
}

#btn-cta-app .btn-cta:last-child {
    margin-right: 0;
}

#btn-cta-app .btn-cta-refused {
    background-color: var(--color-text);
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 1em 1.2em;
    position: relative;
    width: auto;
    font-size: 1.5em;
}

#btn-cta-app .btn-cta-refused:hover {
    color: var(--color-white);
    background-color: var(--color-btn);
}

/*** FOOTER ***/
footer{
    text-align: center;
    color: var(--color-white);
    text-decoration: none;
    clear: both;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--third-font);
    font-size: .9em;
    padding: 2em;
    background-color: #000;
}
footer div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 20px;
}

footer ul li a img {
    width: 18px;
    height: auto;
    transition: var(--tr);
}

footer ul li a img:hover {
    transform: scale(1.1);
}

footer ul {
    display: flex;
    justify-content: space-around;
    width: 20%;
    line-height: 20px;
}


footer a {
    color: #fff;
    text-decoration: none;
}

/*** OVERLAY VIDEO ***/
#overlay-video {
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 120;
    position: fixed;
    display: none;
}

#iframeVideo {
    width: 100vw;
    height: 100vh;
}

#overlay-close {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#overlay-close img {
    width: 30px;
    height: 30px;
    transition: var(--tr);
}

#overlay-close:hover img {
    transform: scale(1.1);
}

#overlay-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-bloc);
    display: none;
}

#overlay-menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#overlay-menu ul li {
    margin-bottom: 1em;
    margin-top: 1em;
}

#overlay-menu ul li a {
    text-decoration: none;
    color: var(--color-white) !important;
    font-size: 1.5em;
}

#overlay-menu ul li a:hover:last-child {
    color: var(--color-bloc);
}

/*!*** OVERLAY FORM ***!*/
/*#overlay-yes, #overlay-no {*/
/*display: none;*/
/*height: 100%;*/
/*width: 100%;*/
/*position: fixed;*/
/*top: 0;*/
/*background-color: rgba(151, 3, 63, .85);*/
/*z-index: 90;*/
/*left: 0;*/
/*justify-content: center;*/
/*align-items: center;*/
/*}*/

/*.overlay-form {*/
/*width: 400px;*/
/*min-height: 350px;*/
/*display: flex;*/
/*align-items: center;*/
/*align-content: center;*/
/*margin: 0 auto;*/
/*flex-direction: column;*/
/*background-color: var(--color-main);*/
/*z-index: 100;*/
/*}*/

/*.overlay-form-text {*/
/*color: #fff;*/
/*margin: 2em;*/
/*}*/

/*.overlay-form .btn-cta {*/
/*font-family: var(--second-font);*/
/*}*/

/*.overlay-form form {*/
/*width: 80%;*/
/*display: flex;*/
/*flex-direction: column;*/
/*}*/

/*.overlay-form input {*/
/*-webkit-appearance: none !* this is required for Webkit browsers *!;*/
/*-moz-appearance: none !* this is not supported currently *!;*/
/*appearance: none;*/
/*border: none;*/
/*color: #fff;*/
/*background-color: var(--color-btn);*/
/*padding: .6em;*/
/*margin-bottom: .5em;*/
/*font-family: var(--second-font);*/
/*}*/

/*.overlay-transparent {*/
/*width: 100%;*/
/*height: 100%;*/
/*position: absolute;*/
/*z-index: 90;*/
/*}*/

/*::-webkit-input-placeholder { !* Chrome/Opera/Safari *!*/
/*color: var(--color-white);*/
/*}*/

/*::-moz-placeholder { !* Firefox 19+ *!*/
/*color: var(--color-white);*/
/*}*/

/*:-ms-input-placeholder { !* IE 10+ *!*/
/*color: var(--color-white);*/
/*}*/

/*:-moz-placeholder { !* Firefox 18- *!*/
/*color: var(--color-white);*/
/*}*/

/*.overlay-form textarea {*/
/*max-width: 100%;*/
/*background-color: var(--color-btn);*/
/*color: #fff;*/
/*font-family: var(--second-font);*/
/*margin-top: 1em;*/
/*margin-bottom: 1em;*/
/*border: none;*/
/*overflow: auto;*/
/*outline: none;*/
/*-webkit-box-shadow: none;*/
/*-moz-box-shadow: none;*/
/*box-shadow: none;*/
/*min-height: 5em;*/
/*}*/

/*.overlay-form textarea:placeholder {*/
/*color: var(--color-white);*/
/*}*/

/*.select-style {*/
/*border: 1px solid #ccc;*/
/*width: 120px;*/
/*border-radius: 3px;*/
/*overflow: hidden;*/
/*}*/

/*.select-style select {*/
/*padding: 1em;*/
/*width: 100%;*/
/*border: none;*/
/*box-shadow: none;*/
/*background: var(--color-btn);*/
/*background-image: none;*/
/*-webkit-appearance: none;*/
/*color: #fff !important;*/
/*}*/

/*.select-style select option {*/
/*color: #fff;*/
/*}*/

/*.select-style select:focus {*/
/*outline: none;*/
/*}*/
.chat-triger {
    position: fixed;
    right: 5%;
    bottom: 5%;
    padding: 20px;
    background: var(--color-text);
    text-transform: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.chat-triger:before {
    position: absolute;
    background: var(--color-text);
    width: 40px;
    height: 40px;
    content: "";
    display: block;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    animation: wave-animate 3s infinite ease-out;
    z-index: -1;
}

@keyframes wave-animate {
    0% {
        transform: scale(0);
        opacity: 1;
        transform-origin: center;
    }
    100% {
        transform: scale(3);
        opacity: 0;
        transform-origin: center;
    }
}

.chat-triger p {
    color: var(--color-bloc);
}

.chat-triger img {
    vertical-align: middle;
    transition: var(--tr);

}

.chat-triger:hover img {
    transform: scale(1.1);

}

/*** 404 ***/
#errorPage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#errorPage h1 {
    color: var(--color-white);
    font-size: 4em;
    font-family: var(--main-font);
}

#errorPage p {
    color: var(--color-white);
    font-size: 1.2em;
    margin-top: .8em;
    margin-bottom: .8em;
}

#errorPage a {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: .8em 1em;
    cursor: pointer;
    font-size: 1.5em !important;
    font-family: var(--main-font) !important;
    text-decoration: none;
    background-color: #000;
    border-radius: 3px;
}

#errorPage a:hover {
    color: var(--color-bloc);
    background-color: var(--color-white);
}

/* CHAT ****************/

.fb-page {
    position: fixed !important;
    right: 0;
    bottom: 20%;
    z-index: 100;
    display: none;
    overflow: hidden;
    transition: var(--tr);
}

/** RESPONSIVE DESIGN **/
@media screen and (max-width: 970px) {
    /** GENERICS **/

    .nav-background {
        height: 10vh;
    }

    .chat-triger {
        width: 20px;
        height: 20px;
    }

    .chat-triger p {
        display: none;
    }

    /*** HEADER ***/
    main{
        height: auto;
    }
    .wrapper{
        width: 80%;
    }
    header {
        justify-content: space-between;
        height: 10vh;
        margin-top: 0;
    }

    #logo {
        position: absolute;
        top: -12px;
        left: 50%;
        width: 60px;
        height: auto;
        z-index: 20;
        transform: translateX(-50%);
    }

    header h1 {
        position: absolute;
        left: 0;
        width: 100%;
    }

    #bloc-connect {
        margin-top: 7em;
    }

    #chiffres h3 {
        padding-bottom: 0.5em;
    }

    /*** MENU ***/
    #menu {
        display: none;
    }

    .clicked {
        display: block;
    }

    #burger-menu {
        display: block;
    }

    #burger-menu {
        cursor: pointer;
        display: block;
        position: relative;
        padding: 2em;
        -webkit-transition: var(--tr);
        -moz-transition: var(--tr);
        -ms-transition: var(--tr);
        -o-transition: var(--tr);
        transition: var(--tr);
        z-index: 20;
        float: right;
    }

    .bar {
        display: block;
        height: 4px;
        width: 25px;
        margin-bottom: .2em;
        background-color: #fff;
        -webkit-transition: var(--tr);
        -moz-transition: var(--tr);
        -ms-transition: var(--tr);
        -o-transition: var(--tr);
        transition: var(--tr);
    }

    .bar:nth-child(2) {
        width: 20px;
    }

    .bar:last-child {
        margin-bottom: 0;
        width: 18px;
    }

    #burger-menu:hover .bar:first-child {
        width: 20px;
    }

    #burger-menu:hover .bar:nth-child(2) {
        width: 22px;
    }

    #burger-menu:hover .bar:nth-child(3) {
        width: 10px;
    }

    #burger-menu:hover .bar:first-child,
    #burger-menu:hover .bar:last-child,
    #burger-menu:hover .bar:nth-child(2) {
        -webkit-transition: var(--tr);
        -moz-transition: var(--tr);
        -ms-transition: var(--tr);
        -o-transition: var(--tr);
        transition: var(--tr);
    }

    #burger-menu.clicked .bar:first-child {
        display: none;
        -webkit-transition: var(--tr);
        -moz-transition: var(--tr);
        -ms-transition: var(--tr);
        -o-transition: var(--tr);
        transition: var(--tr);
    }

    #burger-menu.clicked .bar:nth-child(2) {
        transform: rotate(45deg);
        -webkit-transition: var(--tr);
        -moz-transition: var(--tr);
        -ms-transition: var(--tr);
        -o-transition: var(--tr);
        transition: var(--tr);
    }

    #burger-menu.clicked .bar:nth-child(3) {
        display: none;
        -webkit-transition: var(--tr);
        -moz-transition: var(--tr);
        -ms-transition: var(--tr);
        -o-transition: var(--tr);
        transition: var(--tr);
    }

    #menu ul {
        display: block;
        text-align: right;
        margin-right: 2em;
    }

    #menu ul li:last-child {
        margin-top: 2em;
    }

    .btn-cta {
        padding-left: 2em;
    }

    #demo_nav {
        display: none;
    }

    /*** BLOC CONNECT ***/
    .social-connect {
        width: 80%;
        position: relative;
        left: 0;
        margin: 0 auto;
    }

    #bloc-connect {
        width: 100%;
        flex-direction: column-reverse;
        overflow: hidden;
    }
    .blocConnect-left{
        float: none;
        width: 100%;
        text-align: center;
    }
    .blocConnect-right{
        width: 100%;
        float: none;
    }
    .blocConnect-left figure img{
        width: 50%;
        height: auto;
    }
    .bloc-titles {
        position: relative;
    }

    #bloc-connect .bloc-titles h1 {
        width: 80%;
        font-size: 3rem;
        margin: 0 auto;
        text-align: center;
    }

    #bloc-connect .bloc-titles p {
        font-size: 1.2em;
        width: 80%;
        margin: 1em auto 0 auto;
        text-align: center;
    }
    .demo{
        float: none;
        margin: 1em auto;
    }
    .btn-cta-demo {
        width: 50%;
        text-align: center;
    }
    #video{
        float: none;
        display: block;
        text-align: center;
        position: relative;
        width: 40%;
        margin: 0 auto;
    }
    #video span {
        left: 5%;
        height: 20px;
    }
    .bloc-form {
        width: 100%;
        justify-content: flex-start;
        height: auto;
    }
    .bloc-contentWrapper{
        flex-direction: column;
    }
    .bloc-contentCenter{
        position: relative;
        background-size: 80%;
    }
    .bloc-contentCenter img{
    width: 100%;
    height: auto;
    left: 0;
    top: 25%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    }
    .bloc-contentCenter:before{
        bottom: 10%;
    }

    .blocHow:before{
        height: 50%;
    }
    #chiffres {
        background-color: #fff;
        min-height: 400px;
        width: 100%;
        margin-left: -20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -11em;
        background: url(../img/bg_chiffres.jpg) no-repeat fixed center center / cover;
        padding-top: 11em;
        position: relative;
        overflow: hidden;
        padding-bottom: 4em;
        padding-left: 20px;
        padding-right: 20px;
    }
    /*** BLOC VIDEO ***/
    #scrollArrow {
        left: 45%;
    }

    .btn-cta-form {
        width: 60%;
        height: auto;
        padding: 1em;
        font-size: 1.2em;
    }

    .btn-cta span {
        transform: rotate(180deg);
        vertical-align: middle;
        position: absolute;
        top: 25%;
        left: 10%;
        transition: var(--tr);
    }

    .column-left img {
        width: 100%;
    }

    /*** SOLUTIONS ***/
    #solutions {
        padding-top: 2em;
        padding-left: 20px;
        padding-right: 20px;
    }

    #solutions h2 {
        text-align: center;
        width: 80%;
        font-size: 2rem;
    }

    #solutions-content {
        flex-direction: column;
        align-items: center;
        margin-top: -6.4em;
    }

    .bloc-content {
        width: 100%;
        margin-bottom: 2em;
    }

    #chiffres-content {
        flex-direction: column;
        padding-bottom: 2em;
    }

    .chiffres-content {
        margin: 1em auto;
    }

    .picto {
        position: relative;
        top: 0;
        left: 0;
    }

    #bloc-user img {
        bottom: -30%;
        right: 24%;
    }

    .blocHow {
        padding-top: 4em;
    }

    #team h3 {
        padding: .4em .3em;
    }

    .callProjectWrapper {
        height: auto;
        width: auto;
        padding: 4em 0em;
    }

    .callProject .newsProject {
        margin-bottom: 0;
    }

    .jcarousel li {
        margin: 0 auto;
    }

    /** NEWS **/
    #email{
        margin: 2em auto;
        width: 70%;
    }
    /** TEAM **/
    .newsForm{
        width: 80%;
        display: block;
        margin-bottom: 5em;
    }
    #team{
        height: auto;
        padding-bottom: 4em;
    }
    #team article{
        display: none;
    }
    .team-role{
        font-size: 1.2em;
    }
    .callProject{
        height: auto;
    }

    footer {
        display: block;
    }
    footer div{
        flex-direction: column;
    }

    footer ul {
        text-align: center;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 1em;
    }

    footer li:first-child {
        display: none;
    }

    footer li {
        padding: 10px;
    }
}

@media screen and (max-width: 570px) {
    .bloc-contentCenter{
        width: 100%;
    }
    .blocHow:after{
        display: none;
    }
    .bloc-contentCenter:before{
        display: none;
    }
    #chiffres:before{
        display: none;
    }
    .jcarousel-wrapper{
        display: none;
    }
    .jcarousel-wrapper.responsive{
        display:block;
    }
    #submit{
        margin: 0 auto;
    }
    #email{
        width: 80%;
    }

}
